[2021-04-15 15:58] jonasbark opened #14 "Focus issue with card view"
Every other attempt to write into the native card view fails, at least on Android - it might be fixed with the FocusNode adjustment that currently happens on the native side made by @jamesblasco for iOS

Otherwise it needs to be investigated on on the Android side

[2021-04-15 15:59] jonasbark opened #15 "billingDetails cannot be attached to PaymentMethodParams"
e.g. in setup_future_payment_screen.dart

[2021-04-15 16:00] jonasbark opened #16 "paymentIntentError missing from PaymentIntent"
Used in e.g. cvc collection screen

[2021-04-15 16:01] jonasbark opened #17 "Not all errors are caught properly in the examples"
E.g. when entering a wrong mail address and the backend returns an error

[2021-04-15 16:02] jonasbark opened #18 "Create documentation, proper Readme"

[2021-04-15 18:08] remonh87 opened #19 "Add unittests"
- we need to have good coverage for our business logic classes

[2021-04-17 19:02] remonh87 opened #21 "Crash on nodejs server when saving card"
When trying to save a card off-session the server crashes

[code]

[2021-04-17 19:05] #15 closed, assigned to remonh87

[2021-04-18 14:06] #16 closed, assigned to remonh87

[2021-04-18 15:09] remonh87 opened #25 "Add dart code analysis"
I have a good yaml that would be very useful for us to use. Will integrate it and fix some issues

[2021-04-19 18:19] #25 closed, assigned to nobody

[2021-04-29 14:16] #17 closed, assigned to jonasbark

[2021-05-04 10:26] ened opened #30 "Google Pay Support"
Should the plugin contain components to activate & use Google Pay?

The actual interfaces between Google Pay & Stripe are:

[code]

There is a bit more to it than Apple Pay I think, for example these additional dependencies - which can (& will) outdate:

[code]

Developers are also required to modify AndroidManifest.xml files.

---

If this were not to be included in this package, then the Dart si

[2021-05-07 06:53] abel-123 opened #32 "Example code missing?"
The link to the example (on pub.dev) is broken. The link:
https://github.com/flutter-stripe/flutter_stripe/blob/main/example/lib/main.dart

Example code seems to be missing from github?

[2021-05-07 11:12] mortenolsson opened #33 "Stripe.instance.confirmSetupIntent crashes iOS"
Android works as intended but on iOS calling Stripe.instance.confirmSetupIntent causes this crash:

** Assertion failure in -[FlutterStandardReader readValueOfType:], FlutterStandardCodec.mm:469
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Corrupted standard message'
*** First throw call stack:
(0x1a17425b4 0x1b61c17a8 0x1a1644258 0x1a2a0b6e4 0x1035e61

[2021-05-07 11:52] jamesblasco commented on #33
Thank you for submitting the issue @mortenolsson! I will try to check this issue as soon as possible today.

[2021-05-07 11:55] jamesblasco commented on #32
Thank you for submitting this issue. I will update the readme with the new url later today 🙂

https://github.com/flutter-stripe/flutter_stripe/tree/main/stripe/example

[2021-05-07 13:03] mortenolsson commented on #33
Great thanks !
And it is awesome what you're doing - I really, really appreciate that I will soon be able to build a pretty card signup page instead of the ugly default UI I'm currently getting from the old version. You guys rock !

[2021-05-07 13:06] mortenolsson opened #34 "Allow pre-defined data to be shown in CardField"
Sorry If I missed it - but I can't see a way in the current version to pre-define some of the data shown in CardField.
I'd like to collect some or all of the card data from Card IO and pass it to the CardField.

[2021-05-10 06:29] abel-123 commented on #32
Thanks! Running the example code now and I'm able to successfully execute test payments with webhooks. If I try to use the 'no_webhook' example the server gives an error:

I'm using the example unchanged. Did a bit of testing and the payment method is created successfully, but the paymentIntentResult is never generated. The http.post in callNoWebhookPayEndpointMethodId seems to trigger the error..

[2021-05-10 09:50] mortenolsson commented on #34
A payment sheet with integrated scanning would be perfect for my use case.

[2021-05-10 10:52] subinsv opened #36 "Web Support"
**Is your feature request related to a problem? (please describe)**
* Since Flutter web is already in stable branch. It will be good to have web support for this plugin.

**Describe alternatives you've considered**
* Currently we use https://pub.dev/packages/stripe_sdk for web.

[2021-05-12 09:30] trof-app opened #39 "Stripe Terminal SDK Intergration"
Would it be possible to include the terminal SDK into this new project, there is a andriod and iOS SDK available from stripe but no flutter implementation that I can find currently.

There is a growing use case for accepting in person payments via stripe as well as online payments
https://stripe.com/docs/terminal

[2021-05-12 13:36] OliverNarramore opened #40 "How to create a payment method with custom card details"
I'm looking for some assistance on creating a payment method with a custom card form. My current form retrieves the 16 digit card number, CVV and expiry.

How do I associate the card details obtained via a custom card form to create a payment method? Looking at:
`Stripe.instance.createPaymentMethod()` it accepts PaymentMethodParams, i've looked at PaymentMethodParams.card but this just accepts Bil

[2021-05-12 13:46] jonasbark commented on #40
Regarding the CardField: can you tell us which Flutter version you're using, which device (Android, iOS, OS Version)?

[2021-05-12 16:51] thorsten-stripe commented on #40
@OliverNarramore can you outline why you can't use the CardField component? And are you aware that this would affect your PCI compliance reporting: https://stripe.com/docs/security/guide

![image](https://user-images.githubusercontent.com/23213994/116955368-f2159400-acc4-11eb-8bc8-982a40012543.png)

[2021-05-12 17:26] jamesblasco commented on #36
Hello! I am working on that here https://github.com/flutter-stripe/flutter_stripe/tree/web.

The stripe.js library is very extensive and I have used a code-generator that does not support null-safety yet. So it will take a while until is fully stable.

Right now the CardField with simple payment should work, but don't recommend using it

[2021-05-12 17:29] jamesblasco commented on #39
Hello there, there are no current plans to include support for the Stripe Terminal SDK now. We are working on making this package stable and publishing publicly.

We will this issue open to track the demand. Depending on that we might consider it to support it in the future

[2021-05-13 06:25] OliverNarramore commented on #40
I'm using:
- Flutter version Flutter version 2.0.4
- Xcode 12.4
- iphone 8 (Ios simulator running ios 14.5)

I have added the following to a stateful widget:

CardFieldInputDetails _card;

and the card field inside a Column widget

[code]
I am aware of PCI DSS requirements, but the app i'm trialing this on is currently for testing purposes and will never be live. The app was originally designed ar

[2021-05-13 08:39] subinsv commented on #36
Thanks @jamesblasco for the update. 👍

[2021-05-18 16:04] albertus-stripe opened #42 "Setup CI/CD pipeline"
## Problem
We currently don't have a CI/CD pipeline set-up yet for regression testing and automatically building/deploying the package to pub.

I think as the project grows this is going to be important to make sure we are not breaking things and not having any "bus factor" on the project (any maintainer with write access on the repository should be able to easily deploy the package to pub.dev by

[2021-05-18 16:07] albertus-stripe commented on #19
Assigning this issue to me in the meanwhile as I think it's going to be a good way to learn the codebases as well.
I might add several related issues like #42 while working on this!

[2021-05-18 18:36] remonh87 commented on #42
Good one I think @jonasbark  wanted to setup github actions right? I have also experience with codemagic if this is what we want.

[2021-05-18 20:28] jonasbark commented on #30
the cat is out of the bag:

If you need Google / Apple Pay integration asap you can have a look at the new pay plugin:
https://pub.dev/packages/pay

And here's how it can be used with the flutter_stripe plugin:
https://github.com/google-pay/flutter-plugin/pull/20

[2021-05-19 07:06] jamesblasco commented on #32
This example url should be fixed in the next version. Related to your last comment, I think it might be the same as https://github.com/flutter-stripe/flutter_stripe/issues/21. Feel free to comment about it there. I will take a look soon

[2021-05-19 07:06] albertus-stripe commented on #42
+1  for GitHub Actions since it's more native to GitHub.
I can take this on for GitHub actions if you want!

[2021-05-19 07:55] jamesblasco commented on #42
Same here! Let's do Github Actions

@albertus-stripe  Let us know how you plan to start it and how we can help. We can separate into smaller tasks and divide them between the three of us

For CD I think we could use melos. It is a very useful tool https://docs.page/invertase/melos/automated-releases

[2021-05-19 07:59] jamesblasco commented on #40
@OliverNarramore about the problem you are having on the CardField, I think it is related to the simulator and the mac hardware keyboard. It should work correctly with the software keyboard both on the simulator and a real device.

Let me know if this works for you.

<img width="376" alt="Screenshot 2021-05-19 at 09 58 29" src="https://user-images.githubusercontent.com/19904063/118776891-c4197d80-

[2021-05-19 15:27] jonasbark commented on #42
It's indeed on my todo after the next release with the payment sheet - I sure would love some help there :)

The focus could we the CD part, with the CI one (formatting, automated tests) being second

[2021-05-20 09:18] #34 closed

[2021-05-20 09:19] mortenolsson commented on #34
Issue is not relevant since the real stripe scanning controls will be implemented.

[2021-05-20 12:53] remonh87 opened #44 "Add tests for method channel platform interface"
Add tests for method channel platform interface.

[2021-05-20 12:53] remonh87 opened #45 "Add tests for Stripe package"
Add tests for Stripe package.

[2021-05-22 09:32] #33 closed

[2021-05-22 15:24] albertus-stripe opened #47 "Fix `flutter analyze` lint issues on the repository"
We currently have 815 issues by running `flutter analyze` on the repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. Run `flutter analyze`

**Expected behavior**
We should not be having any lint issues and we should be catching this on a GitHub Action CI and prevent future pull request to be merged if it's violating any lint warnings.

[2021-05-22 15:24] albertus-stripe commented on #47
Somewhat related to #42 , we should not be merging any future pull requests that causes any lint warning after this issue is resolved

[2021-05-23 11:03] albertus-stripe opened #51 "Add `pubspec.lock` to .gitignore"
We should not be checking-in `pubspec.lock` changes to the repository.

I checked several other Flutter's open source plugins like:
1. Flutter Plugins https://github.com/flutter/plugins/tree/master/packages
2. FlutterFire https://github.com/flutter/plugins/tree/master/packages

and none of them are checking-in the `pubspec.lock`

[2021-05-23 11:05] albertus-stripe opened #52 "Add a CI step for testing publishing through `pub publish --dry run`"
Following up Remon's suggestion on #48:
`Add a step for testing publishing. In my other package we found this check quick and very helpful in case we messed up with the project structure. Also I think we should consider building the apps (can be in a pr later of course) since we have quite some native code.`

[2021-05-23 11:08] albertus-stripe opened #53 "Move all packages under `packages` folder to follow popular Flutter project structure convention"
I have a very nitpick suggestion on improving our current project folder structure. Since this project publishes multiple packages at the same time, what do you think about adopting the flutter/flutter folder structure and moving `stripe`, `stripe_android`, `stripe_ios`, and `stripe_platform_interfaces`  inside the `packages` folder?

Some references on Flutter project repository following the sam

[2021-05-23 12:10] #47 closed

[2021-05-23 12:21] albertus-stripe commented on #42
Reopening the issue since it got closed automatically by the PR on the CI work (my mistake for linking it on the PR, sorry!)
I'd love to help with the CD pipeline as well!
Since the melos work now has been finished. Will continue the discussion offline in our Slack!

[2021-05-23 17:11] jjameson25 opened #57 "ApplePayButtonStyle, ApplePayButtonType are unrecognized at build time"
**Describe the bug**
Library is unable to resolve ApplePayButtonStyle and ApplePayButtonType

**To Reproduce**
Steps to reproduce the behavior:
1. Add the library to any project in pubspec.yaml
2. Attempt to build the project
3. Observe a failure with exceptions similar to
[code]
**Expected behavior**
Package does not fail to resolve ApplePayButtonStyle + ApplePayButtonType

**Smartphone / tablet*

[2021-05-23 18:30] #52 closed

[2021-05-23 18:39] awazgyawali commented on #57
Happened to me too, quick solution would be to pull from master.
[code]

[2021-05-23 19:46] jamesblasco commented on #57
Sorry about that, will push a new version with the last changes.
We are adding testing so this does not happen again in the future

[2021-05-23 21:15] #53 closed

[2021-05-24 02:19] albertus-stripe commented on #51
Closed by #48

[2021-05-24 02:19] #51 closed

[2021-05-24 09:36] anmentone commented on #40
I've the same problem. Unable to digit with CardField widget on a physical device.
I got this error:

[code]

I've tried with your example app and it works.

[code]

[2021-05-24 09:59] jamesblasco commented on #40
Hello @anmentone, could you check if the theme inside your android app is a `Theme.AppCompact` descendant like the example one?

https://github.com/flutter-stripe/flutter_stripe/blob/384d390c8a90d19dc62c73faa5226fa931fd6d44/example/android/app/src/main/res/values/styles.xml#L4

The native stripe library makes use of AppCompact components and therefore it is required to use it.

Let us know if that

[2021-05-24 10:31] anmentone commented on #40
Thank you for your reply. I missed Theme.AppCompact.
Right now I've got no error from the debug console but I still have the problem, no keyboard appears, no chance to focus on the card field.

[2021-05-24 11:21] moosoul opened #61 "The stripe android StripSdkModule will not be init onAttachedToActivity"
**Describe the bug**
The stripe android StripSdkModule will not be init onAttachedToActivity

[2021-05-24 11:32] #61 closed

[2021-05-24 11:33] moosoul commented on #61
Is my falt, Ensure that Main Activity is subclassed by FlutterFragmentActivity.

[2021-05-24 11:34] moosoul commented on #61
is my problem，Ensure that Main Activity is subclassed by FlutterFragmentActivity

[2021-05-24 14:10] anmentone commented on #40
Could be a problem if I'm using right now no null-safety in my application?
The widget was not working properly because several exceptions were raised regarding some null properties.
For example, I was not giving to the widget constructor those two properties here:
`textErrorColor: theme.inputDecorationTheme.errorStyle?.color ?? theme.errorColor,
placeholderColor: theme.inputDecorationTheme.hintSt

[2021-05-24 14:24] jamesblasco commented on #40
It is weird indeed, I would also expect that this throws a run-time exception. When working on null-safety libraries in a no-null-safety application I would recommend that you enable null-safety for the file where you will use the library, to avoid unexpected errors.

This is quite easy to do by adding `//@dart=2.12` in the header of the file where you want to enable null safety.

Could you also t

[2021-05-24 14:47] anmentone commented on #40
Thank you for the reply and the tip about enable null safety in a single file.
I'm now using the widget without modification and it seems to work fine if I give to the constructor the decoration field even if it is not quite required, although with that black background it's not very pretty :)

<details>
  <summary>Image</summary>
<img src="https://user-images.githubusercontent.com/16361431/119363

[2021-05-24 14:57] jamesblasco commented on #40
Uhh I see, could you add a custom background color? theme.scaffoldBackgroundColor should work. It is now transparent by default and we are not sending the opacity to the native view. Will work on it thanks

[2021-05-24 16:19] kekko7072 opened #63 "Missing API keys in the Authorization header"
In my flutter app I added the public key, in the serverI added my dev keys In the `server.env.example` file of the server but when I try the server returns this error.

[code]
Am I missing configuration, where I need to add the secret key?

[2021-05-24 16:22] thorsten-stripe commented on #63
Did you copy the example file to `server/.env` before adding it as outlined in the README? https://github.com/flutter-stripe/flutter_stripe#run-the-example-app

[2021-05-24 16:39] kekko7072 commented on #63
yeah I didnt `cp server/.env.example server/.env` sorry guys now it works

[2021-05-24 16:39] #63 closed

[2021-05-24 16:42] jamesblasco commented on #57
This should be fixed in version 1.0.1+1

[2021-05-24 16:47] #30 closed

[2021-05-24 16:47] #18 closed

[2021-05-24 16:48] #32 closed

[2021-05-24 19:23] anmentone opened #66 "Postal code still visibile in the form on Android"
Postal code is still visible in the form, although is not enabled by default.

[code]

[code]
I have seen the code flow on android and the value is only assigned if it is true.
The problem is that flutter by default sets it to false **while on kotlin it doesn't.** You can't set it to false because, as you see above, the value must be true to be set.

By default is true:

[code]

Package version: 1

[2021-05-24 23:10] anmentone opened #68 "stripeSdk has not been initialized on Android"
I followed the example in order to do payments with webook and I believe I have not missed anything.
When I call confirmPaymentMethod:
[code]
I get this error:

<details>
<summary>Log error</summary>

[code]
</details>

The thing is that the example works, my app doesn't.
I've call also in my main.dart before runApp and public key already configured:
[code]

<details>
<summary>flutter doctor -v</s

[2021-05-25 07:46] anmentone commented on #68
When stripeSdk.initialise() is invoked, stripeSdk property has not yet initialized.

[code]

And this is strange because the initialization is made here:

[code]

Is possibile that onAttachedToActivity is never triggered?
Unfortunately I can't set breakpoints there, I tried with logging but nothing appear on the debug console.

[2021-05-25 07:53] jonasbark commented on #68
Is your main activity based on FlutterFragmentActivity or FlutterActivity?

[2021-05-25 08:05] anmentone commented on #68
Sorry for my question, maybe I am not prepared for this. I'm using your plugin in a flutter application.
FlutterActivity/FlutterFragmentAcitivity are useful to integrate Flutter within an Android app, is that my case?
I have not written any main activity.

Thank you for your support, and sorry, I am trying to learn :)

[2021-05-25 08:23] jamesblasco commented on #68
Noo need to worry! Thank you for creating this issue, you have been very helpful so far. By default, Flutter apps use `FlutterActivity` by default. You can find this in the file `MainActivity.kt` inside the android folder.

I think FlutterFragmentActivity is needed for the Stripe SDK to work, @jonasbark can you confirm this?. If this is the case we should add this to the docs.

The change should b

[2021-05-25 08:28] anmentone commented on #68
Ah ok! Thank for this tip.
I did a quick check and yes, my MainActivity is based on FlutterActivity while the MainActivity (from the example, that works) is based on FlutterFragmentActivity but I missed totally this thing.

[2021-05-25 08:39] anmentone commented on #68
Now it's working well.

Thank you guys!

[2021-05-25 08:47] ZaifSenpai opened #69 "No implementation found for method requestFocus on channel flutter.stripe/card_field/0"
okay first thing: Please mention that we have to upgrade kotlin version of our project to 1.5.0. I spent too much time on this because I was getting errors and the reason was that my kotlin version was 1.3.50

After upgrading it I am trying to use this library but I get following error when I try to use CardField:

[code]

Full details from Logcat:

[code]

[2021-05-25 08:52] jamesblasco commented on #69
Hello @ZaifSenpai, could you check if the theme inside your android app is a `Theme.AppCompact` descendant like the example one?

https://github.com/flutter-stripe/flutter_stripe/blob/384d390c8a90d19dc62c73faa5226fa931fd6d44/example/android/app/src/main/res/values/styles.xml#L15

The native stripe library makes use of AppCompact components and therefore it is required to use it.

Let us know if th

[2021-05-25 08:57] ZaifSenpai commented on #69
Thank you. That worked.

[2021-05-25 08:57] #69 closed

[2021-05-25 13:39] ZaifSenpai opened #71 "Set default keyboard type to TextInputType.number"
The keyboard opened in CardField() is TextInputType.text

The problem it is creating on my phone is that you have to press the numbers button on the bottom left every time you press a number. So you have to press 2 buttons to input 1 digit

https://user-images.githubusercontent.com/16265942/119507589-66a19700-bd88-11eb-84b4-2cc03eb0c55e.mp4

[2021-05-25 13:43] jonasbark commented on #71
Hi Zarif - thanks for your feedback!
We are aware of this issue and tracking it here:
https://github.com/flutter-stripe/flutter_stripe/issues/14

It is caused by the Flutter framework and from what I'm hearing it may be fixed soon.

[2021-05-25 13:43] #71 closed

[2021-05-25 15:51] #66 closed

[2021-05-25 16:18] anmentone opened #72 "Undefined behavior (app crash) with Google Pay on Android"
When using the GooglePayButton widget I get strange behavior if I decide to cancel the payment by closing the open modal after pressing the pay button.

**To reproduce on example app**
I wanted to make a video demonstration but unfortunately, the google play screen is obscured (obviously) with any screen capture.
The steps are pretty simple:
1. On the example App, choose **Google Pay payment (Andr

[2021-05-25 16:54] giandifra commented on #68
Hi, I have the same error, but changing my MainActivity.kt I receive errors from Firebase plugin!

Have you suggestion to solve this? There is another fix ?

Thanks

[2021-05-25 17:05] jamesblasco commented on #68
Could you specify the error you are getting with the Firebase plugin?

[2021-05-25 17:27] #72 closed

[2021-05-25 17:32] jamesblasco commented on #72
Thank you for submitting the issue. It will be fixed in the upcoming release 🙂

[2021-05-25 17:33] giandifra commented on #68
It's work now, I cleaned the project!

[2021-05-25 19:01] remonh87 commented on #44
Test are done and integrated in CI

[2021-05-25 19:01] #44 closed

[2021-05-26 06:21] jamesblasco commented on #68
I will close this issue now that is detailed inside the readme

[2021-05-26 06:22] jonasbark commented on #68
I'll implement a runtime check so it's easier to read configuration issues

[2021-05-26 10:08] mortenolsson opened #75 "Add scan option to CardField"
I'd love the "scan" button to be available for the CardField so that the card details can be entered by scanning the card with the device camera.

[2021-05-26 10:48] jamesblasco commented on #75
It is only possible to use card scanning with the PaymentSheet on iOS devices. Stripe android does not implement

To enable it you have to add the camera permission description in Info.plist
<key>NSCameraUsageDescription</key>
<string>Scan your card to add it automatically</string>

For the card field, if we integrate it would only be for iOS. I will leave this issue open to track the demand of th

[2021-05-26 12:40] giandifra opened #78 "Card details not complete exception on createPaymentMethod"
**Describe the bug**
createPaymentMethod catch an exception

**To Reproduce**
I try to create a payment method

Implementation
[code]

Exception:
[code]

[2021-05-26 13:01] jonasbark commented on #78
Thanks for the ticket!

You'll need to enter the whole information into the CardField and only then should you call createPaymentMethod. You can refer to the example on how to check if the card information is complete.

[2021-05-26 13:46] LastxTemplar opened #79 "confirmPayment can't be false"
**Describe the bug**
setting the `confirmPayment` parameter to false results in the Payment Sheet not appearing on the screen and no errors appearing in the console.
[code]

**To Reproduce**
Use the Payment Sheet method in the example app provided by the package and change the `confirmPayment` parameter to false

**Expected behavior**
The payment sheet should appear as usual in order to input the

[2021-05-26 14:39] tudor07 opened #80 "Support custom fonts in CardField"
Custom fonts are not working in `CardField` widget.

[code]

[2021-05-26 15:16] #78 closed

[2021-05-26 17:45] adouglass opened #81 "Deserializing payment methods from the Stripe API"
I'm making a call to my REST API to fetch a user's list of saved payment methods-- which returns the JSON provided via the Stripe API for a List<PaymentMethod>.

[code]

The .fromJson method attempts to deserialize the payment method and errors on the Card property. It seems as though the generated .fromJson method is expecting Card with a capital C -- but the Stripe API returns all properties in

[2021-05-26 20:32] jamesblasco commented on #80
Only color and fontSize are the only params available right now for customizing the card.

We are now focused on fixing issues and making the package the most stable possible. After i will try to work on this.

Will keep this open to see the demand

[2021-05-27 05:05] remonh87 commented on #81
The deserialization parameters have to do with sending objects through the method channels (for communicating with the repspective Stripe sdk)  and has nothing to do with the Stripe API.  I would suggest to convert the names to uppercase before casting it to this object.

[2021-05-27 05:05] #81 closed

[2021-05-27 06:23] tudor07 commented on #80
@jamesblasco Please consider giving this a higher priority. A lot of apps are using custom fonts, not many that use the default. It's very easy for the user to notice that the card input looks different than everything else in the app. This has a big negative impact since that's the step when they give their money so it's really important for them to feel safe and have trust.

[2021-05-27 06:32] remonh87 commented on #79
Good catch we found out that the parameters:
`confirmPayment` on present paymentsheet and `customFlow` on initPaymentSheet need to be in sync.

So you need to make sure of the following:
if `customFlow = true` then `confirmPayment = false`
if `customFlow = false` then `confirmPayment = true`

We will update the docs and add an assert.

[2021-05-27 06:43] tudor07 opened #83 "CardField text cooler is always white on iOS"
The text from `CardField` is always white no matter what color I set.

Code:
[code]

![flutter_1](https://user-images.githubusercontent.com/7441453/119778267-f9991900-becf-11eb-861a-876b889a8dae.png)
![flutter_2](https://user-images.githubusercontent.com/7441453/119778271-faca4600-becf-11eb-9b10-050e9d6cb25b.png)

[2021-05-27 07:31] jamesblasco commented on #83
Thanks for submitting the issue. I will take a look today

In the meantime, if you need to try, it may be that the color is not being updated dynamically or something related to the theme. As in the example is the opposite, always black

<img width="287" alt="Screenshot 2021-05-27 at 09 29 52" src="https://user-images.githubusercontent.com/19904063/119784020-17fe1500-bece-11eb-907a-cebe59c36925.pn

[2021-05-27 11:08] giandifra opened #85 "App crash on Setup Future Payment example"
**Describe the bug**
Hi, I'm trying setup_future_payment example but there is an exception from native Android code.
The error is generated by `retrievePaymentIntent` method

[code]

[2021-05-27 12:18] jonasbark commented on #85
I can't reproduce this locally - which Android version are you using?

[2021-05-27 12:26] giandifra commented on #85
compileSdkVersion 29
minSdkVersion 21
targetSdkVersion 29

[2021-05-27 12:30] jonasbark commented on #85
I actually meant Android version of your test device

[2021-05-27 12:32] giandifra commented on #85
Oh sorry, I'm testing on Android 11

[2021-05-27 12:38] jonasbark commented on #85
Can you try the following:
1. open the Android part of your Flutter project in Android Studio
2. find Result.java file from stripe_android
3. Replace with https://gist.github.com/jonasbark/0755416627358059458c5aa487451f76
4. Compile again and try again

[2021-05-27 13:55] giandifra commented on #85
Now it works. I have other exception on `confirmPaymentMethod` , I will investigate more and i will open a new issue if i need

Thanks

[2021-05-27 13:55] #85 closed

[2021-05-27 15:00] remonh87 opened #86 "Paymentsheet is always dark on Android"
**Describe the bug**
No matter which value of style you add the payment sheet on Android is always dark. On iOS I can change the styling.

**To Reproduce**
Steps to reproduce the behavior:
1. configure paymentsheet
[code]
2.call  presentPaymentSheet and notice it is always represented in dark theme.

**Expected behavior**
In my example it should display the payment sheet in light theme.

**Smartph

[2021-05-27 15:01] remonh87 commented on #86
I will assign it to myself was planning to fix another issue in the paymentsheet

[2021-05-27 16:14] jgrody opened #87 "Can't create a payment method"
**Describe the bug**
The following error is received when attempting to create a payment method:
`e type 'String' is not a subtype of type 'Map<dynamic, dynamic>?' in type cast`

**To Reproduce**
Steps to reproduce the behavior:
1. Using CardField, enter card information (4242 4242 4242 4242, ...)
2. Once you have the resulting card, attempt to create a payment method

[code]

**Expected behavior*

[2021-05-27 17:29] abel-123 opened #88 "SEPA Debit and iDeal payment methods"
Awesome job on this guys!
For my app I'm looking for 2 payment methods on top of credit cards:
- iDEAL payments (bank redirect)
- Subscription based (recurring) payments through SEPA direct debit

The readme refers to this page which lists both methods: https://stripe.com/docs/payments/payment-methods/overview

I've tried to adjust the example code to work with the methods above, but not sure if i

[2021-05-27 20:53] jonasbark commented on #88
Hi!

We're working on better documentation 👍  Ideal and SEPA Debit are supported.
You can see all supported payment methods here:
https://github.com/flutter-stripe/flutter_stripe/blob/main/packages/stripe_platform_interface/lib/src/models/payment_methods.dart#L51

[2021-05-28 07:47] DziugasMolis opened #89 "Apple pay recurring subscription"
Hello,

I am currently looking into this package and cannot find an example or solution to make subscriptions with Apple pay.

So far it seems it is impossible to do it with the current version or am I wrong?

Thanks in advance.

[2021-05-28 08:27] jamesblasco commented on #89
It should be possible, but I haven't tried yet and we haven't created an example. This is what the official stripe docs say.

![image](https://user-images.githubusercontent.com/19904063/119953342-2fa4ce80-bf9e-11eb-858c-4192ddd8113c.png).

I will try to take a deeper look in the coming days.

Notice that the availability of using Stripe subscriptions instead of In-App Purchases is limited to small

[2021-05-28 08:32] jamesblasco commented on #89
Thank you for sharing it @thorsten-stripe  💙

[2021-05-28 09:24] DziugasMolis commented on #89
So one issue still remains... I found that example before and when doing:
Future<PaymentIntent> retrievePaymentIntent(...);

So my logic was:

1. Present Apple pay
2. Fetch Intent Client Secret from backend
3. Stripe.instance.retrievePaymentIntent(clientSecret);
4. Create payment method on backend

But on third step I get:
Assertion failed: `secret` format does not match expected client secret for

[2021-05-28 09:53] mortenolsson commented on #75
All our actual payments are done with saved cards on the backend so all I really use Stripe for on the client is adding cards so the payment sheet isn't viable for us. Keeping my fingers crossed that the scan option is added to CardField - it would really make my day.
It is not out of the realm of possibility that I would be willing to pay you for your time if you can get this done rather soon - l

[2021-05-28 10:13] jonasbark commented on #75
Have you looked at alternatives, such as https://pub.dev/packages/card_scanner ?
Adding this functionality is out of scope for the beta phase.

[2021-05-28 11:26] mortenolsson commented on #75
That's not usable to me - we do use Stripe so what I need is to create a stripe payment method and confirm the setup intent so the card is registered properly with Stripe. As I said I'd be willing to pay you if you would be willing to move this feature into active development and have it done within a couple of weeks.

[2021-05-28 18:45] remonh87 commented on #87
@jamesblasco  I did some triage and it only fails on iOS probably we miss the right code there? Can you have a look since I am not an iOS dev.

stacktrace:
[code]

[2021-05-29 06:04] remonh87 commented on #86
Waiting for answer on: https://github.com/stripe/stripe-react-native/issues/285

[2021-05-29 07:24] kekko7072 opened #90 "Error compiling Android"
**Describe the bug**
When I run `flutter build api --debug` I run this error of Kotlin

[code]

I recently updated to Kotlin 1.5 is linked to that?

[2021-05-29 07:36] kekko7072 commented on #90
Solved thanks to [https://stackoverflow.com/questions/54605954/error-the-android-gradle-plugin-supports-only-kotlin-gradle-plugin-version-1-3](Similar problem) .
I went to `android/build.gradle` and CHANGED `ext.kotlin_version = '1.3.50'` TO `ext.kotlin_version = '1.5.10'`

[2021-05-29 07:36] #90 closed

[2021-05-29 13:01] kekko7072 commented on #69
I had the same problem and fixed using it, should be added to info package.

[2021-05-29 17:56] anmentone commented on #68
Hi guys, I'm back here writing again.
I'm developing a plugin for flutter to insert card payment functionality inside my flutter app for mypos using mypos SDK (myPOS-Smart-SDK).
My app is about "digital commercial documents" (receipt) and is used by vendors instead of a physical cash register.
I only use stripe for subscription renewal, which is required to use some services in the app.
So these t

[2021-05-29 19:20] jonasbark commented on #68
This already provides plenty of information, thank you! We will have a look.

[2021-05-30 13:45] giandifra opened #93 "PaymentSheet stuck on loading"
**Describe the bug**
I tried [payment_sheet_screen](https://github.com/flutter-stripe/flutter_stripe/blob/main/example/lib/screens/payment_sheet_screen.dart) example but the sheet stuck on loading.
There aren't error on console (only 4 lines with HI text).
Additional console feedback would be helpful.

**Smartphone**
- Pixel 2XL
- Android 11

Thanks

[code]

[2021-05-30 15:56] jonasbark commented on #93
Additional information: https://github.com/stripe/stripe-react-native/issues/281
To me, it happened as well but was caused by the wrong client secret / ephemeral key secret.

[2021-05-30 18:41] #88 closed

[2021-05-30 21:50] dokumanx opened #95 "Missing 'package' key attribute on element package at [com.stripe:stripe-android:16.8.2] AndroidManifest.xml:13:9-54"
**Describe the bug**
I am using the latest version of flutter-stripe. There was no issue with calling `flutter pub get`. But after I run the project it thrown me the error:

`Missing 'package' key attribute on element package at [com.stripe:stripe-android:16.8.2] AndroidManifest.xml:13:9-54`

**To Reproduce**
Steps to reproduce the behavior:
1. Update flutter-stripe to `flutter_stripe: ^1.0.1+3`.

[2021-05-30 22:41] bringbackthedog commented on #95
I ran into this issue too.

What worked for me:
-  Change you `MainActivity.kt` file to this:
[code]

See  [#68](https://github.com/flutter-stripe/flutter_stripe/issues/68#issuecomment-847663223)

[2021-05-30 22:56] dokumanx commented on #95
Thanks for your reply. But same error again. It didn't change anything.

[2021-05-30 22:58] dokumanx commented on #95
Do I need to run `flutter clean` or something like that to ensure the project is affected by the changes?

[2021-05-31 01:01] bringbackthedog commented on #95
Ah one more thing...

Upgrade your gradle.  That should work. Let me know.
`lib/android/build.gradle`
[code]

[2021-05-31 01:44] bringbackthedog opened #96 "Add minimal example of taking a credit card payment payment."
I find it difficult to get started if you're not familiar with Stripe. How do you take a credit card payment?
I'd like a minimum example of taking a credit card payment in Flutter.

**Describe the solution you'd like**
Would be nice if there were a 1 file example of taking a payment in the docs or in the example on pub.dev.

Thanks!

[2021-05-31 05:54] remonh87 commented on #96
I would recommend to go for the[ payment sheet:](https://github.com/flutter-stripe/flutter_stripe/blob/main/example/lib/screens/payment_sheet_screen.dart). Which is easier then the cardfield because it also handles 3d secure for you. We are working on improving the read me and docs atm and will keep your suggestion in mind.

[2021-05-31 07:19] DziugasMolis commented on #89
Okay, so long story short. Found stripe IRC channel and had a talk with stripe development team, the above comment is useless... One option that they suggested is to get apple pay or google pay token and call Stripe API.

curl -u sk_test_123: https://api.stripe.com/v1/tokens \
  -d pk_token=<PKPaymentToken.paymentData decoded as JSON> \
  -d pk_token_instrument_name=<PKPaymentToken.paymentInstrume

[2021-05-31 08:04] #68 closed

[2021-05-31 09:32] dokumanx commented on #95
Well, it gave me another error. But I think this is because we have changed plugin version.

'''
[        ] > Task :auto_orientation:bundleLibCompileDebug
[        ] > Task :flutter_ringtone_player:javaPreCompileDebug
[        ] Note: C:\Users\cezay\AppData\Local\Pub\Cache\hosted\pub.dartlang.org\auto_orientation-1.0.6\android\src\main\java\de\bytepark\autoorientation\AutoOrientationPlugin.java us

[2021-05-31 09:59] mike392 opened #98 "[Android] IllegalArgumentException: The style on this component requires your app theme to be Theme.AppCompat (or a descendant)"
Hi, Team,

I have the following problem with the card field.
I have done this:
`Stripe.publishableKey = Constants.getPublishableKey();`
And this is my pay button callback:
`void onPressPayCallback() async {
    await Stripe.instance.createPaymentMethod(PaymentMethodParams.card());
  }`
And in order to make it work i have to put a `CardFIeld` widget:
`Widget? _buildBodyContent(BuildContext context)

[2021-05-31 10:01] jonasbark commented on #98
Please read the Readme - dupe of https://github.com/flutter-stripe/flutter_stripe/issues/69

[2021-05-31 10:01] #98 closed

[2021-05-31 10:17] mike392 opened #99 "[iOS] Not able to build because of - CocoaPods could not find compatible versions for pod "stripe_ios""
Hi, Team,

I have the following problem when building for iOS. I come across the error above - although, for sure, `flutter_stripe` implicitly includes this dependency.
Please, advise me on that error :)

My `flutter doctor -v`
[code]

The complete stacktrace is the following:
[code]

[2021-05-31 10:23] mike392 commented on #69
This actually helped! Thank you so much!

[2021-05-31 10:26] mike392 commented on #99
Sorry - i had to switch the deployment target in Podfile from `ios: 10.0` to `ios: 11.0`

[2021-05-31 10:26] #99 closed

[2021-05-31 11:51] mortenolsson commented on #75
Anyway - feel free to get in touch at mholsson@gmail.com - and thank you for the great work you've already done - this means the world to me.

[2021-05-31 12:09] mike392 opened #100 "Is there any way to make CardField displayed along the vertical axis?"
Hi, Team,

Can you, please advise me how can i customize the CardField? Now it looks like it is aligned to horizontal

![image](https://user-images.githubusercontent.com/16647651/120190912-8407b280-c219-11eb-8ef4-b63fd66654bc.png)

And - is it possible to expose the setters for the fields? So that, for example, there could be used custom solution like `flutter_credit_card` or whichever and be stil

[2021-05-31 12:19] jonasbark commented on #100
You can see all the available customizations here:
https://github.com/flutter-stripe/flutter_stripe/blob/main/packages/stripe/lib/src/widgets/card_field.dart#L12

Please file a new ticket if you'd like specific adjustments. It will be limited to what the Android & iOS views provide:
https://stripe.com/docs/mobile/android/basic#customize-ui

Support for custom card details is already tracked here:

[2021-05-31 12:19] #100 closed

[2021-05-31 16:19] adxzhang1 opened #101 "Example App Google Pay Button Crash"
**Describe the bug**
The example app crashes when closing the google pay dialog after opening it from the google pay button.

Error:
Failure delivering result ResultInfo{who=null, request=991, result=0, data=Intent { (has extras) }} to activity {com.flutter.stripe.example/com.flutter.stripe.example.MainActivity}: kotlin.UninitializedPropertyAccessException: lateinit property stripe has not been in

[2021-05-31 16:21] jonasbark commented on #101
Did you follow the requirements? https://github.com/flutter-stripe/flutter_stripe#android
Namely the theme and Activity change

[2021-05-31 16:35] adxzhang1 commented on #101
Thanks for the quick reply! Yes, I cloned and am using the example app and it has those changes.
I am also testing a demo app and may have found the error and will update back shortly.

[2021-05-31 16:53] adxzhang1 commented on #101
Hi I just made a repo demoing the error [https://github.com/adxzhang1/flutter_stripe_issue](here). It seems that after adding the FlutterFragmentActivity the issue pops up. This is also getting the same error:
Failure delivering result ResultInfo{who=null, request=991, result=0, data=Intent { (has extras) }} to activity {com.example.payment_demo/com.example.payment_demo.MainActivity}: kotlin.Unini

[2021-05-31 16:58] jonasbark commented on #101
Just a guess: you should also update https://github.com/adxzhang1/flutter_stripe_issue/blob/error/android/app/src/main/res/values-night/styles.xml#L15 when you use dark mode

[2021-05-31 17:08] adxzhang1 commented on #101
I just tried it using the same parent as the light one and still get the issue.

[2021-05-31 17:09] TomMichalkevic commented on #101
I am having the exact same issue. Even though Stripe is indeed initialized in main method.

[2021-05-31 17:54] bringbackthedog commented on #95
Ok neat, so it fixed the missing package key error.

Could you pinpoint what exactly is the new error?

[2021-05-31 18:02] dokumanx commented on #95
Well, I have sent the full error code. Do you need something specific?

[2021-05-31 18:03] dokumanx commented on #95
From the above error code:

`e: Incompatible classes were found in dependencies. Remove them from the classpath or use '-Xskip-metadata-version-check' to suppress errors`

[2021-05-31 18:37] jonasbark commented on #101
Thanks for reporting - this ticket is a duplicate of https://github.com/flutter-stripe/flutter_stripe/issues/68 and already fixed in the main branch. We'll release a new version soon.

So long you could use:
[code]

[2021-05-31 18:37] #101 closed

[2021-05-31 20:09] TomMichalkevic opened #103 "This looks like a bug. It inverts the isValid with !"
https://github.com/flutter-stripe/flutter_stripe/blob/79b201a2e9b827196d6a97bb41e1d0e526632a5a/example/lib/screens/google_pay_screen.dart#L133

[2021-06-01 03:43] thorsten-stripe commented on #75
A quick lurk: the payment sheet now has a setup mode which we're planning to add to the RN SDK: https://github.com/stripe/stripe-react-native/issues/293

[2021-06-01 05:27] remonh87 opened #104 "Sync with stripe sdk"
The sdk team of Stripe made an significant improvement that we should consider integrating.  https://github.com/stripe/stripe-react-native/pull/273

We should plan for syncing with the latest updates

[2021-06-01 06:05] thorsten-stripe commented on #104
There are a couple more things I'm working on for the v0.1.3 release later this week. Maybe wait for the sync until then?

[2021-06-01 12:32] DziugasMolis commented on #89
So finally I made it...

1. So with the example code I created stripe token from apple pay token. (https://www.irccloud.com/pastebin/yy7TvGZ2/)
2. I got clientSecret from backend
3. Did a confirm on setup intent and passed that created stripe token with it (that token property is not visible in Stripe documentation but it works)
[code]
4. Got customer id
5. Created payment method with customerId a

[2021-06-01 16:40] albertus-stripe opened #106 "Missing PaymentMethodParams for other payment methods"
Looking at `stripe_platform_interface/lib/src/models/payment_methods.dart`, seems like currently we are not having the `PaymentMethodParams` for these payment methods:
- OxxoParams
- Sofort
- SepaDebit
- AfterpayClearpay
- Eps
- AuBecsDebitParams
- FPX (created a PR for this)

We should create `PaymentMethodParams` for these payment methods following the React Native types declaration here:
https:

[2021-06-01 17:15] albertus-stripe commented on #42
Hey maintainers! @jonasbark @remonh87 @jamesblasco
I have another (hopefully final) nitpick suggestion regarding the CD pipeline and how we do releases for this package.
As I'm not really aware with how you guys do the current release process, I highly recommend sticking to Git tag versioning for all releases going forward.
Then we should create a GitHub action pipeline that gets triggered on tag

[2021-06-01 17:26] jonasbark commented on #103
it's fine - it just checks if you already inserted the correct key into the profile json file

[2021-06-01 17:26] #103 closed

[2021-06-01 20:02] bringbackthedog commented on #95
Try to upgrade your Kotlin version to 1.5.0

<details>
<summary>android/build.gradle</summary>
<br>

    buildscript {
      ext.kotlin_version = '1.5.0'
      ...
    }

    ...
</details>

see:
[code]

[2021-06-02 07:56] bringbackthedog opened #108 "kotlin.UninitializedPropertyAccessException: lateinit property stripe has not been initialized at com.reactnativestripesdk.StripeSdkModule$mActivityEventListener$1.onActivityResult(StripeSdkModule.kt:45)"
**Describe the bug**
App crashes after user logs in. I'm using Google login via Firebase Auth.

**Smartphone / tablet**
 - Device: Android Nexus 5X emulator
 - OS: Android 11
 - Package version:  1.0.1+3
 - Flutter version 2.2.0.
<details>
<summary> logs </summary>
<br>

    D/AndroidRuntime(14020): Shutting down VM
    E/AndroidRuntime(14020): FATAL EXCEPTION: main
    E/AndroidRuntime(14020): Pr

[2021-06-02 10:48] jonasbark commented on #108
See https://github.com/flutter-stripe/flutter_stripe/issues/101#issuecomment-851631194

[2021-06-02 10:48] #108 closed

[2021-06-02 13:43] lbk9 opened #111 "Manually attach card details to createPaymentMethod"
Using the now discontinued flutter_stripe package, it was simple to manually attach a CreditCard object to the createPaymentMethod call. This doesn't seem possible with this plugin as the card details are somehow automatically passed to the function. For apps with existing UI that cannot be changed, this approach doesn't really seem feasible.

[2021-06-02 13:44] jonasbark commented on #111
Duplicate of https://github.com/flutter-stripe/flutter_stripe/issues/40

[2021-06-02 13:44] #111 closed

[2021-06-02 16:48] #87 closed

[2021-06-02 20:01] mike392 opened #115 "[PAYMENT SHEET] No reaction when invoking presentPaymentSheet method"
Hi, Team,

I am trying to somehow display Payment Sheet. I use this piece of code upon the pressing of a button:

[code]
In `clientSecretProvider` i create a PaymentIntent on my SpringBoot backend - and as i debug it is actually provided.

However, when i invoke this... Nothing happens - both on Android (Pixel 3a API 30) and iOS (iPhone 11) simulators.
No error logs as well

Please, advise on how

[2021-06-02 21:43] dokumanx commented on #95
This is my current Kotlin version. How can I also update Kotlin plugin version? And also Gradle and Gradle plugin is confusing me. Can you guide me to compatible versions of them and how to upgrade them? There are a lot of solutions out there but none of them works for me. I need first-hand advice.

![image](https://user-images.githubusercontent.com/48089386/120555720-27b4b680-c404-11eb-9a58-f1656

[2021-06-03 03:46] jamesblasco commented on #115
Hello! Right now if you set CustomFlow to true, you have to set confirmPayment: false in presentPaymentSheet.

We have to explain this better or make it more easy to use 👍🏻

[2021-06-03 07:32] lbk9 commented on #87
Any idea roughly of when this fix will be released?

[2021-06-03 08:03] mike392 commented on #115
Yes, thank you so much for the explanation :)

And, Guys, please, can you either elaborate a bit more on docs or on some demo videos - because it is a bit hard to work with the lib so far :) However, it raises the entrance barrier which is good in a sense :)

[2021-06-03 08:05] jamesblasco commented on #115
Sure we are still working on that part! 🙂

[2021-06-03 08:08] mike392 commented on #115
To be honest - still - i don't have anything displayed. I have changed for `SetupPaymentSheetParameters` customFlow to true and for `PresentPaymentSheetParameters` confirmPayment to false, and vice versa...

Still does not display anything

[2021-06-03 08:57] mastahnish commented on #95
I updated gradle version to `6.7`
`distributionUrl=https\://services.gradle.org/distributions/gradle-6.7-all.zip`

Also followed @bringbackthedog 's suggestion:

and bumped my kotlinVersion to `1.5.0` and it worked.

[2021-06-03 09:11] mike392 commented on #115
No... unfortunately, i don't still see any reaction - neither errors on backend nor in Flutter.

This is my button callback. No reaction when i press the button

[code]

[2021-06-03 10:10] dokumanx commented on #95
Thanks for your reply @mastahnish. I have also solved the issue last night. This is also what I have done for someone who deals with the same issue:

[2021-06-03 10:35] dokumanx commented on #95
Thanks for your reply @mastahnish. I have also solved the issue last night. This is also what I have done for someone who deals with the same issue:

1. Updated gradle version by changing `distributionUrl` to :

`distributionUrl=https\://services.gradle.org/distributions/gradle-6.7.1-all.zip`

(It is located in `android\gradle\wrapper\gradle-wrapper.properties`)

2. In `android\build.gradle`, I up

[2021-06-03 10:35] #95 closed

[2021-06-04 03:11] TesLake opened #117 "Ambiguous import when using Card widget"
When using a Card widget and having the flutter_stripe imported it gives an Ambiguous_import error:

[class Card extends StatelessWidget, class Card with _$Card]
The name 'Card' is defined in the libraries 'package:flutter/src/material/card.dart (via package:flutter/material.dart)' and 'package:stripe_platform_interface/src/models/payment_methods.dart'.
Try using 'as prefix' for one of the import

[2021-06-04 13:34] remonh87 commented on #57
version 1.0.1+3 broke this behavior again will fix it directly

[2021-06-05 05:26] ketancts opened #119 "Execution failed for task ':stripe_android:compileDebugKotlin'."
The class is loaded from C:/Users/UserName/.gradle/caches/transforms-2/files-2.1/4e5aa79770c626f4db262bec4e99609f/jetified-stripe-android-16.8.2-api.jar!/com/stripe/android/model/ConfirmSetupIntentParams.class
e: E:\flutter\.pub-cache\hosted\pub.dartlang.org\stripe_android-1.0.1+3\android\src\main\kotlin\com\reactnativestripesdk\StripeSdkModule.kt: (455, 15): Class 'kotlin.Unit' was compiled with

[2021-06-05 14:50] jonasbark commented on #119
Please refer to the requirements, in this case the Kotlin one:
https://github.com/flutter-stripe/flutter_stripe#android

[2021-06-05 14:50] #119 closed

[2021-06-05 18:22] kekko7072 opened #120 "Andrdid Keyboard not showing correct"
**Describe the bug**
I don't know if it's a bug,
Only on Android when I use this code for input the card field it shows a normal text keyboard and not number keyboard as it does on iOS.

[code]
**Package version**
flutter_stripe: ^1.0.1+3

![WhatsApp Image 2021-06-05 at 20 16 22](https://user-images.githubusercontent.com/32552589/120901510-b6f7df00-c63b-11eb-9eba-6d2836e5b0c0.jpeg)

[2021-06-05 18:31] kekko7072 commented on #120
Only on CVC is number keyboard and after done it doesn't dessapear

[2021-06-05 19:22] jonasbark commented on #120
Hi!

This issue is already tracked on https://github.com/flutter-stripe/flutter_stripe/issues/14

[2021-06-05 19:23] #120 closed

[2021-06-06 16:22] Pablo-Aldana opened #121 "Add translation or custom label to PaymentSheet"
**Is your feature request related to a problem? (please describe)**
Currently is not possible to setup a language or custom labels to the payment_sheet

**Describe the solution you'd like**
Ability to have i18n or add custom labels for the fields on payment_sheets

**Describe alternatives you've considered**
make the labels configurable i.e Card information could be part of  SetupPaymentSheetParam

[2021-06-07 03:49] thorsten-stripe commented on #121
Payment sheet localisation happens automatically based on device language. See https://github.com/stripe/stripe-react-native/issues/243#issuecomment-849701446

[2021-06-07 09:28] Pablo-Aldana commented on #121
Thanks a lot @thorsten-stripe it actually worked, I was changing the device language but didn't know I had to update Xcode as well.

However what did not change was the country selector that still select as pre default US. I can say in the Pay plugin there is a json configuration file that I suppose changes this behaviour, but I can see from SetupPaymentSheetParameters how can I pass this file or

[2021-06-07 13:36] smsimone opened #122 "Stripe.instance.createPaymentMethod cannot create card payment method"
**Describe the bug**
When I try to make a payment by creating before a PaymentMethod flutter_stripe rises the error:
`type 'String' is not a subtype of type 'Map<dynamic, dynamic>?' in type cast`

**To Reproduce**
Steps to reproduce the behavior:
1- launch the example app
2- open 'Card payment without web hooks' example
3- put the number '5155-0094-6187-6461' in the card field with random expirati

[2021-06-07 13:40] #57 closed

[2021-06-07 13:41] remonh87 commented on #122
This is a duplicate of: #87 which will is fixed in the next version of the library.  For now you can use our main branch:

[code]

[2021-06-07 13:41] #122 closed

[2021-06-07 15:26] jiten-acme opened #123 "kotlin.UninitializedPropertyAccessException: lateinit property stripe has not been initialized"
when trying to run example code

[2021-06-07 17:34] jonasbark commented on #123
fixed with the latest version (1.0.2)

[2021-06-07 17:34] #123 closed

[2021-06-08 09:18] PositronicBrain opened #125 "Problem with 3dsecure"
I am trying to finalize a payment with 3d secure (Android), I call ```await Stripe.instance.handleCardAction('pi_.......')``` and this opens the Stripe authentication webview. When the process is completed  the webview closes and  the app crashes with the following error:
[code]

I am not sure it this is a bug or if I am doing something wrong.

[2021-06-08 11:10] jonasbark commented on #125
That does look like a bug. Can you describe the steps necessary to reproduce? E.g. which payment method you used etc.

[2021-06-08 15:30] PositronicBrain commented on #125
It should be simple to reproduce. I get a payment method:
[code]
I pay using a stripe test card with 3d secure enabled: `4000000000003063`.

Then I pass `paymentMethod.id` to the backend and use the returned secret to `handleCardAction`. The authentication screens pops up, I press `validate` and then when control goes back to the app, the deserialization error happens.

[2021-06-08 15:48] mike392 commented on #115
Okay, so i have progressed a bit - In order to be able to see the PaymentSheet you need to enable the Checkout in Stripe Dashboard->Settings-.Payments->Checkout. But still - i have an error saying:
[code]

Can you, please, help?
I believe this is something related to the WebView - but i'm not sure - i do not use WebView in my project

[2021-06-08 15:51] mike392 commented on #115
The behaviour is that - it tries to kind of load - but still goes down disappearing and there is the error appearing above.

[2021-06-08 16:00] mike392 commented on #115
Okay - the stuff above was for Android Simulator. For iOS simulator i had this:
[code]
Can you, please, hint what to do?

[2021-06-08 16:35] mike392 commented on #115
Okay, i have progressed a bit.
When initializing Stripe with publishable key - i added a second row like this:
[code]
Otherwise, i guess it was failing to perform the API call. However, now i have the following error:
[code]

Can you, please, hint me regarding this one?

[2021-06-08 16:42] jonasbark commented on #115
Does the example work for you?

would indicate that you did not call `initPaymentSheet` before calling `presentPaymentSheet`

Also please provide a minimal reproducible example so we can debug your issues

[2021-06-08 17:01] mike392 commented on #115
I invoke them like this:

[code]

Unfortunately, cannot provide the complete sample because it involves PaymentIntent creation on backend

But,
I set-up like this:
[code]
And then i create payment method like this:
[code]

Here `paymentClientProvider` is my REST Client to the backend.
This all of course i did having entered this:
[code]

I REALLY hope this helps... I'm really blind here - no logs,

[2021-06-08 18:44] #121 closed

[2021-06-08 20:08] Softmatech opened #128 "Dependency problem"
I can't add the dependencies on my project,
when I added the dependency I got this
<img width="1280" alt="Screen Shot 2021-06-08 at 4 04 15 PM" src="https://user-images.githubusercontent.com/29921959/121250333-9dd97300-c873-11eb-9eb9-350b2c29c622.png">

[2021-06-08 20:37] mike392 commented on #115
To be honest, i tried different places where i perform initPaymentSheet and presentPaymentSheet - all async functions with wait... But it was still the same... My whole class looked like this (with some bits removed):
[code]

As you can see - i surely invoke `initPaymentSheet` beforehand and it should be completed by the time `presentPaymentSheet` is invoked.

[2021-06-09 01:38] wesleyxiao opened #129 "create card token?"
i am using stripe connect, possible to create create payment intent id by credit card in flutter, and then charge on backend?

[2021-06-09 01:55] #129 closed

[2021-06-09 05:21] remonh87 commented on #128
You are having an older version of firebase storage. If you update it to the latest version `8.1.1.` they use the same http version as us.

[2021-06-09 05:27] Riscait commented on #129
Likewise, I tried to migrate from the `stripe_payment` plugin, but I couldn't find any method that could create a card token.
If there is a plan to implement this, or if there is an alternative method, I would like to know about it.

[2021-06-09 05:39] jamesblasco commented on #128
I am not aware that we use `http` package anywhere except the example project. So this might be a problem that when adding `flutter_stripe`, you called ` flutter pub upgrade` instead of ` flutter pub get` and your previous dependencies have been updated causing a conflict between them

[2021-06-09 05:47] jamesblasco commented on #115
The Payment intent is needed to be created properly from the server. You can not create a payment method `card` from the app beforehand as you don't know yet any information about how the user will be paying.

Here is the server example we use inside our app:
https://github.com/flutter-stripe/flutter_stripe/blob/b8615d7f3d1e437eb6d4ed0516c0d2a3b0a6da84/example/server/src/index.ts#L472-L505

[2021-06-09 05:53] #128 closed

[2021-06-09 07:23] mike392 commented on #115
@jamesblasco Thank you so much for your response! Can you, please, correct me if i'm wrong (process-wise)?

So, just let me re-cap what i am doing:
1. Via `createPaymentMethod` i create a Card payment method and send it's ID to the backend.
2. On backend i create a PaymentIntent USING (in Spring Boot using stripe-java 20-52-0 libarary):
    a. CustomerID or the person/body who is a destination for

[2021-06-09 07:37] mike392 commented on #115
Sorry-sorry - now it's working :) I don't have to do step 1 and in step 2 i shall use paymentMethod of a CUSTOMER (if Customer has any of the payment methods available).

Now it's working :)

Thank you so much!!! Hope this chat helps someone :)

[2021-06-09 07:38] jamesblasco commented on #115
You should remove step 1 from the flow. And also b. You can't create a payment method, as you don't know what payment method will be using the user. That is taken care of by the payment sheet.

To check how to create the correct PaymentIntent for a Java server, check the official docs.
https://stripe.com/docs/payments/accept-a-payment#add-server-endpoint

You should go to Add Server Endpoint, and

[2021-06-09 07:38] jamesblasco commented on #115
Happy to see that you made it work!

[2021-06-09 07:38] #115 closed

[2021-06-09 07:57] remonh87 commented on #45
we created seperate tickets now so this can be closed

[2021-06-09 07:57] #45 closed

[2021-06-09 09:29] Mikhail-Ivanou opened #130 "Get Unhandled Exception: PlatformException when try to use Stripe.instance.presentPaymentSheet"
**Describe the bug**
I get next error when try to use Stripe.instance.presentPaymentSheet both in Android and iOS.
The same issue was reproduced both in my project and in sample

E/flutter ( 1124): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: PlatformException(Failed, , null, null)
E/flutter ( 1124): #0      JSONMethodCodec.decodeEnvelope (package:flutter/src/services/message_

[2021-06-09 09:32] jonasbark commented on #130
Can you reproduce this issue in the example app?

[2021-06-09 09:55] Mikhail-Ivanou commented on #130
Yes, I have the same error in example app too.
I see white bottom sheet with progress indicator for a while and than SnackBar with error appears.
![image](https://user-images.githubusercontent.com/3472560/121333961-eea7a500-c921-11eb-9bc5-0b9b7fe6bf2e.png)

[2021-06-09 10:02] joknjokn opened #131 "How to migrate from using createTokenWithCard?"
Hi,

With stripe_payment we used createTokenWithCard() to create a card and store it in the backend with the returned token-id tok_XXXXXX.

From the migration guide I see that we now have to use createPaymentMethod, but this returns a payment-method id like pm_XXXXXX. This means that our implementation now fails.

So my question is: Is there any way we can get the tok_XXXXX instead of the pm_XXXXX

[2021-06-09 10:10] jonasbark commented on #131
A similar function will be available when https://github.com/flutter-stripe/flutter_stripe/issues/104 is resolved

[2021-06-09 10:13] joknjokn commented on #104
Perfect - Thanks for the quick response.

[2021-06-09 10:15] joknjokn commented on #131
Perfect - Thanks for the quick response.

[2021-06-09 11:11] werdlv commented on #89
@DziugasMolis hey! I am looking for the same :) We need to add recurring donations to the app. Any chance You could share some code examples for the puzzle pieces to make it work? :)

[2021-06-09 11:17] DziugasMolis commented on #89
@werdlv So Basically if for my use case in the end we had to use in_app_payments flutter package.... and following apple guidelines we can not use other payment provider than apple because we give to user more functionality with our subscriptions.....

[2021-06-09 14:07] basnetjiten opened #132 "Add PaymentMethod Create Method"
Have successful connected via google pay to stripe, but the Stripe dashboard says "Incomplete payments" for all the transactions, as the payment_methods is missing. Am i missing something when creating PaymentIntents?

Below is the expected api to create Payment Method:
    $method = \Stripe\PaymentMethod::create([
      'type' => 'card',
      'card' => [
        'number' => '4242424242424242',

[2021-06-09 14:15] basnetjiten commented on #132
ok just looked into the migration file and found this: Stripe.instance.createPaymentMethod(data);

[2021-06-09 14:15] #132 closed

[2021-06-09 15:02] thorsten-stripe commented on #131
@joknjokn you might want to consider updating your backend though. Tokens are considered legacy: https://stripe.com/docs/payments/payment-intents/migration

[2021-06-09 16:06] jiten-acme commented on #87
This issue still occurs  #122 ?

[2021-06-09 17:14] ApofisXII opened #133 "_retrievedPaymentIntent not null, but without paymentMethodId"
During a test with the Card that require authentication even during following payments:

While implementing the example, I found a bizarre issue here:
https://github.com/flutter-stripe/flutter_stripe/blob/b8615d7f3d1e437eb6d4ed0516c0d2a3b0a6da84/example/lib/screens/setup_future_payment_screen.dart#L182

At line 182, the condition is false, because:
_retrievedPaymentIntent is not null
_card is not

[2021-06-09 18:37] wesleyxiao commented on #129
first use  CardField(
                        autofocus: true,
                        enablePostalCode: true,
                        onCardChanged: (card) {}); to build credit card form,

and then you can do

  Stripe.instance.createPaymentMethod(PaymentMethodParams.card()).then((value) {print(value)}; you will get payment method information json with payment method id, which is token like old v

[2021-06-09 18:44] wesleyxiao commented on #131
https://github.com/flutter-stripe/flutter_stripe/issues/129#issuecomment-857963764

solve card token issue.

[2021-06-09 18:48] joknjokn commented on #131
@thorsten-stripe Yes, thanks, we will do that in near future.

[2021-06-10 09:18] werdlv commented on #89
@DziugasMolis could You please provide the URL for the library You mentioned? :) Can`t seem to find the one.

[2021-06-10 09:19] DziugasMolis commented on #89
https://github.com/flutter/plugins/tree/master/packages/in_app_purchase

[2021-06-10 12:18] remonh87 commented on #133
I can reproduce the issue will look into it.

[2021-06-10 16:59] jamesblasco commented on #130
Yeah probably it is related to the clientSecret.

How do you retrieve the code from your server? Are you using the example one? The secret needs to be a valid one

[2021-06-10 18:11] Mikhail-Ivanou commented on #130
It's our backend responsibility to create clientSecret, and it works correctly in our web client.  I've found issue in combination of publisherKey and clientSecret, so there is no more issue for us.

Thanks for help.

BTW, it would be great to get correct error message for incorrect params, not platform channel crash.

[2021-06-10 18:11] #130 closed

[2021-06-10 20:45] jamesblasco commented on #83
You are right! I will close the issue then. Thanks!

[2021-06-10 20:47] jamesblasco commented on #130
Yes in the next sync with the native sdk we will try to improve the errors to make theme more descriptive 👍🏻. Thank you for the feedback

[2021-06-11 00:37] sakyoyuto opened #134 "Build fails on android"
I'm using flutter_stripe 1.0.2, but it fails to build on android.
The error is described below.

[code]

flutter doctor is below.
[code]

Please let me know if you have any solutions.
Thank you.

[2021-06-11 00:47] sakyoyuto commented on #134
My apologies.
I solved the problem by changing the gradle version from 3.5.0 to 4.1.0.

[2021-06-11 00:47] #134 closed

[2021-06-11 01:40] sakyoyuto opened #135 "Keyboard switches on its own when using CardField on Android."
flutter_stripe 1.0.2. I'm trying to use CardField to enter cards.
However, when I use Android, the keyboard switches every time I enter a number in the CardField.
I am running it on an actual Pixel 4a.

![screen-20210611-102656_2](https://user-images.githubusercontent.com/45416100/121617922-d9a55000-caa0-11eb-8dda-1609c213bc03.gif)

On iOS, only the number keyboard is displayed, which is very easy

[2021-06-11 04:49] jamesblasco commented on #135
Hello, there is an issue in Flutter that affects the keyboard input and we have been forced to implemented like this. The issue is fixed now and should arrive soon yo master

We will make the needed changes in our package when next stable version is released

https://github.com/flutter-stripe/flutter_stripe/issues/14

[2021-06-11 04:49] #135 closed

[2021-06-11 05:30] Riscait commented on #131
I'm migrating from stripe_payment as well, so I want to use `createTokenWithCard` to get the cardToken.
I found the Issue (104) to track. Thank you very much.

[2021-06-11 05:47] thorsten-stripe commented on #131
@Riscait Tokens are considered legacy, please migrate to PaymentIntents: https://stripe.com/docs/payments/payment-intents/migration

[2021-06-11 06:50] mike392 opened #137 "[PAYMENT SHEET] Issue regarding closing of Payment Sheet"
Greetings Team,

Can you, please, advise me what am i doing wrong?

I believe that if i press on [X] button after the Payment Sheet loading - it implies that Payment Intent needs to be somewhat Cancelled or...

Anyways - after i close the window with PaymentSheet i get this error below:

[code]

[2021-06-11 07:04] thorsten-stripe commented on #137
That's the expected result to let you know that the user has cancelled the payment flow.

[2021-06-11 07:04] #137 closed

[2021-06-11 07:11] #89 closed

[2021-06-11 07:24] jamesblasco commented on #137
It is recommended that you handle the error thrown by this method

[code]

We will try to improve the exception messages in the upcoming  weeks

[2021-06-11 09:03] mike392 commented on #137
Okay - thank you so much for the explanation! I will treat the exception correspondingly

[2021-06-12 00:41] dsling opened #138 "java.lang.ClassCastException when using CardField"
Not sure what I'm doing wrong.  I created a new stateful class and added the following:

[code]

However, when I navigate to the screen, I get the following error:

[code]

The on-screen keyboard opens up and I see an empty textbox, but I'm unable to type in it.  If I replace the CardField with a standard TextField, I get no errors.

**Smartphone / tablet**
 - Device: Pixel 4 (emulator)
 - OS: And

[2021-06-12 09:12] expertdev-designer opened #139 "pub failed after adding this plugin"
i am getting issue when i get pub with this plugin

Because geolocator >=6.1.4 <7.0.0-nullsafety.0 depends on geolocator_platform_interface ^1.0.8 which depends on plugin_platform_interface ^1.0.2, geolocator >=6.1.4 <7.0.0-nullsafety.0 requires plugin_platform_interface ^1.0.2.
And because google_map_location_picker >=4.1.3 depends on geolocator ^6.1.14, google_map_location_picker >=4.1.3 require

[2021-06-12 10:05] jamesblasco commented on #139
The problem is that the package [google_map_location_picker](https://pub.dev/packages/google_map_location_picker)  is using an old version of the geolocator package that does not use the new plugin_plaftorm_interface with null-safety support.

https://github.com/humazed/google_map_location_picker
The developer has not been updating this library since March, you should consider remove it from your

[2021-06-12 10:05] #139 closed

[2021-06-12 13:35] PositronicBrain commented on #125
We wrote a patch that fixes the de-serialization bug, 3d secure seems to work now and returns a payment intent, but when I call the Magento backend to confirm the payment, the process fails with message

```The provided PaymentMethod was previously used with a PaymentIntent without Customer attachment, shared with a connected account without Customer attachment, or was detached from a Customer. It

[2021-06-12 14:19] relief12 commented on #117
@TesLake Import the dependency as follows:

For example:

`import 'package:flutter_stripe/flutter_stripe.dart' as FlutterStripe;
`

Then use it as:

 FlutterStripe.Stripe.(...)

or

FlutterStripe.(...)

[2021-06-12 14:20] mike392 opened #141 "[PAYMENT METHOD] Unable to create a payment method for connected account"
Hi, Team,

When i use `Stripe.instance.createPaymentMethod(PaymentMethodParams.card())` in order to create PaymentMethod for a ConnectedAccount of a particular user.

Generally is there a way to create a PaymentMethod for a ConnectedAccount?

[code]

and

[code]
do not work - because on backend when i try to `attach` paymentMethod to a Customer object there is error:
[code]

It clearly states that

[2021-06-13 09:35] Phelickz opened #142 "Error when using the Card Field Widget"
Error Encountered:

E/MethodChannel#flutter/platform_views(19580): Failed to handle method call
E/MethodChannel#flutter/platform_views(19580): android.view.InflateException: Binary XML file line #22 in com.crooz.ezze:layout/card_input_widget: Binary XML file line #22 in com.crooz.ezze:layout/card_input_widget: Error inflating class <unknown>
E/MethodChannel#flutter/platform_views(19580): Caused by

[2021-06-13 11:43] jamesblasco commented on #142
Please, make sure to follow all the requirements needed for Android
https://github.com/flutter-stripe/flutter_stripe#requirements

Probably your Android Theme is not of type Theme.AppCompact.

[2021-06-13 11:46] jamesblasco commented on #138
Hello, there is an issue in Flutter that affects the keyboard input and we have been forced to implement it like this. The issue is fixed now on master

We will make the needed changes in our package when the next stable version is released

https://github.com/flutter-stripe/flutter_stripe/issues/14

[2021-06-13 11:46] #138 closed

[2021-06-13 11:54] jamesblasco commented on #141
Could you create the payment intent from your server with the appropriate params and use `confirmPaymentMethod` instead of `createPaymentMethod` as recommended in the official docs?

Official Guide:
https://stripe.com/docs/payments/integration-builder
Flutter Example:
https://github.com/flutter-stripe/flutter_stripe/blob/main/example/lib/screens/webhook_payment_screen.dart

[2021-06-13 13:25] jiten-acme opened #143 "To Add Charges Api"
Are you planning to add Charges Api ? I am trying to look in to that today but couldn't figure it out.

[2021-06-13 14:51] Phelickz commented on #142
Yeah, I followed all the steps in the link and I still have that error.
And the payment sheet isn't showing up too..
It shows the loader and the dark sheet for a few seconds and throws a Platform Exception error message as null null.

So I am stuck. Cant use the card field and cant use the payment sheet also

[2021-06-13 16:13] jamesblasco commented on #142
Please, for the CardField check again your android Theme. The error you shared is explicitly saying:
[code]
Notice making changes on Native android does not work with hot reload/hot restart.

For the Payment Sheet, we are working on improving the error messages. But it probably is that the paymentIntentClientSecret you are creating for the server is not valid. If you could share the code from your

[2021-06-13 16:27] Phelickz commented on #142
Here is my styles file
`<?xml version="1.0" encoding="utf-8"?>
<resources>

    <style name="LaunchTheme" parent="Theme.AppCompat.Light.NoActionBar">

        <item name="android:windowBackground">@drawable/launch_background</item>
    </style>

    <style name="NormalTheme" parent="Theme.AppCompat.Light.NoActionBar">
        <item name="android:windowBackground">?android:colorBackground</item>

[2021-06-13 16:27] Phelickz commented on #142
Here is my styles file

`
<?xml version="1.0" encoding="utf-8"?>
<resources>

    <style name="LaunchTheme" parent="Theme.AppCompat.Light.NoActionBar">

        <item name="android:windowBackground">@drawable/launch_background</item>
    </style>

    <style name="NormalTheme" parent="Theme.AppCompat.Light.NoActionBar">
        <item name="android:windowBackground">?android:colorBackground</item>

[2021-06-13 16:32] Phelickz commented on #142
This is my styles.xml file..
[https://gist.github.com/Phelickz/87eb02e60b1b28c7047ddebde0990e97](url)

My server code..
[https://gist.github.com/Phelickz/323b949df06240f934ad5fe9febff12d](url)

My UI code..
[https://gist.github.com/Phelickz/3ec0cbb875cfa70ed7ffb97f4e1f9187](url)

[2021-06-13 16:35] Phelickz commented on #142
https://gist.github.com/Phelickz/87eb02e60b1b28c7047ddebde0990e97

[2021-06-13 18:40] identi-non-devs commented on #36
Hey @jamesblasco, are there any updates on the status of Flutter Web support?

[2021-06-14 06:40] jamesblasco commented on #142
Thanks for sharing all the code. Very helpful. It all looks good.

Could you check this?
For the card field, check the AndroidManifest that the theme is applied as expected like:
https://github.com/flutter-stripe/flutter_stripe/blob/cf38b15a51ffebcda6f1b8e7400ad083737eeca6/example/android/app/src/main/AndroidManifest.xml#L17-L19

And just to make sure, you have added the Stripe.publishableKey no?

[2021-06-14 06:44] jamesblasco commented on #143
We are going to add support for it in the next version. But notice that this way to accept payments is disallowed and you should be sure to understand the implications of using it

![image](https://user-images.githubusercontent.com/19904063/121850178-a951f180-ccec-11eb-89aa-14b657177390.png)
https://stripe.com/docs/payments/accept-a-payment-charges

[2021-06-14 06:57] Phelickz commented on #142
Yeah. I just checked the manifest file. And it has that block of code in exactly that format.
So I don't know what wrong.

And yeah, I added the publishableKey too.

[2021-06-14 14:11] abumoallim opened #145 "Integration Guide for Apple Pay & Google Pay with Payment Sheet"
I can't find any documention related to integration of Apple Pay or Google Pay inside the Payment Sheet.

As I can see in the library itself it shows that if configuration is set it will show the Google Pay & Apple pay inside the Payment Sheet but what are the configuration steps for both?

[2021-06-14 14:33] jamesblasco commented on #145
Here are the integration docs for Apple Pay on iOS
https://stripe.com/docs/payments/accept-a-payment?platform=ios&ui=payment-sheet#apple-pay

And for Google Pay on Android
https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=payment-sheet#google-pay

I am planning to improve the docs soon to improve this

[2021-06-14 14:33] #145 closed

[2021-06-14 22:12] Softmatech opened #146 "i got this error message on implementing Save Card for future Use"
PlatformException(Failed, You must provide card details, null, null)
      #0      JSONMethodCodec.decodeEnvelope (package:flutter/src/services/message_codecs.dart:155:7)
      #1      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:158:18)
      <asynchronous suspension>

[2021-06-15 05:58] syaraf-az opened #147 "Cannot pass returnUrl to Stripe for FPX Payment"
**Describe the bug**
When attempting a payment using FPX, '.confirmPaymentMethod' failed with code 'PaymentIntentError.unknown'. When I checked my Stripe dashboard for logs, it show that I must pass 'returnUrl' when using FPX.

However, there isn't a way to supply 'returnUrl' parameter to the library. I read through the source code and it seems like 'urlScheme' need to be defined for the parameter

[2021-06-15 06:34] thorsten-stripe commented on #147
It needs to be provided when initializing Stripe: https://github.com/flutter-stripe/flutter_stripe/blob/main/packages/stripe_platform_interface/lib/src/stripe_platform_interface.dart#L35

[2021-06-15 06:37] jonasbark commented on #147
I think this PR is related: https://github.com/flutter-stripe/flutter_stripe/pull/84

[2021-06-15 06:38] jonasbark commented on #146
Hi!
The user will have to enter the full card details first in the CardField widget. Check the example on how to check if the card details are complete.

[2021-06-15 06:38] #146 closed

[2021-06-15 06:56] syaraf-az commented on #147
Yeap, but not passed to the platform code when invoked: https://github.com/flutter-stripe/flutter_stripe/blob/cf38b15a51ffebcda6f1b8e7400ad083737eeca6/packages/stripe_platform_interface/lib/src/method_channel_stripe.dart#L39

I see, hopefully it would be merged soon.

[2021-06-15 07:48] abumoallim opened #148 "Android Integration Issue"
I upgraded my android minSdk to 21
Upgraded Kotlin: 1.5.0

Added FlutterFragmentActivity :
        import io.flutter.embedding.android.FlutterActivity;
        import io.flutter.embedding.android.FlutterFragmentActivity;

        public class MainActivity extends FlutterFragmentActivity {

        }

Did the Required Changes for Theme.AppCombat:
  <?xml version="1.0" encoding="utf-8"?>
  <resource

[2021-06-15 09:31] #148 closed

[2021-06-15 11:06] SykSamaPro opened #149 "On Android, presentPaymentSheet with Stripe Account throw PlatformException"
Hi,

I use Stripe account with PaymentBottomSheet. On IOS, that work well, but on Android, the bottom sheet show up, loading and go down ... throwing a PlatformException(Failed, , null, null)
I don't understand, it worked ... I tried the versions from 1.0.1 to 1.0.2 but always the same error

<details>

add StripeAccount in the server

[code]
Add stripe account in main.dart

[code]
</details>

[2021-06-15 11:29] raviganwal commented on #100
or better please provide three separate widget for card number, card expiration and cvc code, because I see custom payment layouts in every project.

[2021-06-15 11:30] remonh87 commented on #149
Can you share the dart code of the paymentsheet ?

Make sure to comply to the following:
[code]

[2021-06-15 11:39] SykSamaPro commented on #149
I did not modify the code of the example. I just tried to disable / re-enable apple pay, google pay and testEnv

I followed the documentation, it worked until 2 weeks ago ... On the other hand, no problem for IOS

<details>

[code]

</details>

[2021-06-15 13:18] #141 closed

[2021-06-15 15:54] Softmatech commented on #146
@jonasbark I did like it is on the example enter (card number, expiry date, and CVC) and on saving, it shows this message on the log

https://user-images.githubusercontent.com/29921959/122085020-53ef1080-cdd0-11eb-9356-f098d5bfed41.mov

[2021-06-15 16:59] jonasbark commented on #149
does the example app + server from this repository still work for you?

[2021-06-15 17:16] tan-nad commented on #142
In my case, after changing app theme to `Theme.AppCompat` in 2 files below and somehow it works
[code]

[2021-06-15 18:12] LuisAkamala opened #150 "issue on confirmPaymentMethod"
I have this widget button:

GooglePayButton(
            style: payPlugin.GooglePayButtonStyle.black,
            width: 200,
            type: payPlugin.GooglePayButtonType.pay,
            loadingIndicator: const Center(
              child: CircularProgressIndicator(),
            ),
            paymentConfigurationAsset: 'google_pay_payment_profile.json',
            paymentItems: [

[2021-06-16 01:23] Phelickz commented on #142
@jamesblasco
Doing what @tan-nad said fixed the Card field error for me.
I think it should be stated in the readme to change it for both files.

The payment sheet still doesn't work for me tho.
But I guess I'll just make do with the card field widget for now.
Thanks.

[2021-06-16 04:16] Softmatech opened #151 "I'm Trying to implement Card saving for later use"
I implement the card register like it is on the example enter (card number, expiry date, and CVC) and on saving, it shows this message on the log and looks at how the result appears at this video,
https://user-images.githubusercontent.com/29921959/122156864-d8c14500-ce37-11eb-841c-c338d288e511.mov

`static Future handlePayPress(BuildContext context,CardFieldInputDetails _card, String _email) async

[2021-06-16 06:06] jonasbark commented on #151
What's the full stack trace of the exception? Can you provide a minimal reproducible example?

[2021-06-16 08:02] SykSamaPro commented on #149
On IOS & Android, it works when I don't use the Stripe Account

When I use it with a Stripe account, on IOS, it works, on Android, it doesn't

[2021-06-16 10:15] DenisMisiuraItomy commented on #36
@jamesblasco what about that?

[2021-06-16 11:14] remonh87 commented on #36
At the moment we are integrating the latest greatest of Stripe which includes some needed bugfixes for us on Android + iOS. Once we have that out of the way we can plan a move towards the web.

[2021-06-16 11:17] remonh87 commented on #150
We are currently updating to the latest stripe sdk and we will also improve error handling. Can you check on the server if sth is wrong there? also make sure that you provide the correct secret that you retrieved from the previous step

[2021-06-16 11:17] jonasbark commented on #149
This could be fixed with the next version (ref: https://github.com/stripe/stripe-react-native/releases/tag/v0.1.4)

[2021-06-16 13:35] emmaxCreative opened #152 "Weird behavior of CardField"
**Describe the bug**
I have a FAB on my Checkout page.
Whenever i scroll the CardField behind the Button some weird stuff happens and it starts flickering.
![image](https://user-images.githubusercontent.com/58904080/122228005-b707a280-ceb7-11eb-9184-059643bd41c2.png)

It happens when the keyboard is open and also when its hidden

The same flickering appears when I hit the pay-now button..But then

[2021-06-16 14:00] markphillips100 opened #153 "Card details incomplete exception when attempting to call createPaymentMethod using token"
**Describe the bug**
I'm using the Pay plugin to obtain a token as per the [readme](https://github.com/flutter-stripe/flutter_stripe#pay-plugin-support), only instead of calling `confirmPaymentMethod(...)` I call `createPaymentMethod(params)`.  This throws a "PaymentMethodCreateParamsException: Card details not complete".  I assume because the card params are indeed null as I'm using a token.

[co

[2021-06-16 14:13] jonasbark commented on #153
Can you please post the relevant dart part of your integration?
Can you reproduce this in the example of this repository as well?

[2021-06-16 14:14] jonasbark commented on #152
Thanks for reporting - this is likely nothing we can fix ourselves and a bug in the Flutter native view integration.
Out of curiosity, can you try it with the latest master channel of Flutter?

[2021-06-16 14:26] markphillips100 commented on #153
Hi @jonasbark .  Here's the code I use:
[code]
And this is the output of the tokenId I'm printing in that code so I at least know the Google Pay bit to Stripe is okay:
[code]

[2021-06-16 14:29] markphillips100 commented on #153
As far as I can tell there are no examples using this combination of cardFromToken and createPaymentMethod.  Were you wanting me to create one?

[2021-06-16 15:28] Softmatech commented on #151
![image](https://user-images.githubusercontent.com/29921959/122248174-e4435900-ce95-11eb-9b95-f18ab9c566a9.png)

Error while saving payment
      PlatformException(Failed, There was an unexpected error -- try again in a few seconds, null, null)
      #0      JSONMethodCodec.decodeEnvelope (package:flutter/src/services/message_codecs.dart:155:7)
      #1      MethodChannel._invokeMethod (package:fl

[2021-06-16 17:41] emmaxCreative commented on #152
its almost the same just without the rectangle in the background.
![image](https://user-images.githubusercontent.com/58904080/122267108-ce0bbc00-ceda-11eb-9b34-f43405fd5b1e.png)

[2021-06-16 19:06] identi-team commented on #36
Thanks a lot for the update, @remonh87 !

[2021-06-17 06:20] gocal commented on #104
Hi @remonh87 0.1.4 has been released, so do you have some expected timeline when these changed will be integrated ? [(](https://github.com/flutter-stripe/flutter_stripe/issues/131) specifically )

[2021-06-17 06:30] gocal commented on #131
Agree with @thorsten-stripe however PaymentIntents require significant changes on both backend and fronted side, so I believe we should still keep it as an intermediate solution.
I've noticed @remonh87 is already working on that - https://github.com/flutter-stripe/flutter_stripe/tree/implement-create-token so hopefully we'll get the missing API soon...

[2021-06-17 07:45] remonh87 commented on #104
We expect to ship a new version next week!

[2021-06-17 10:57] LuisAkamala commented on #150
there is a mistake with pk_... intent created with test pk, but app try to confirm with live pk

it's ok now

[2021-06-17 10:57] #150 closed

[2021-06-17 13:10] markphillips100 commented on #153
@jonasbark not sure if this is related or not but also having a problem with `confirmPaymentMethod` when using `PaymentMethodParams.cardFromMethodId` for params.  I get a generic `(StripeError<PaymentIntentError>(message: Confirming payment intent failed, code: PaymentIntentError.unknown)`

I use the same code as [here](https://github.com/flutter-stripe/flutter_stripe/blob/cf38b15a51ffebcda6f1b8e7

[2021-06-17 14:27] s-talkanova-fraiss commented on #106
Do you know approximately when the other missing PaymentMethodParams, or at least SepaDebit, get implemented?

[2021-06-17 14:32] jonasbark commented on #106
SepaDebit and a lot more already exist: https://github.com/flutter-stripe/flutter_stripe/blob/main/packages/stripe_platform_interface/lib/src/models/payment_methods.dart#L35

[2021-06-17 15:23] albertusdev commented on #106
@jonasbark ideally we should keep this in sync with https://github.com/stripe/stripe-react-native/blob/master/src/types/PaymentMethods.ts

[2021-06-17 21:33] mortifia opened #154 "flutter_stripe/packages/stripe_platform_interface/lib/src/method_channel_stripe.dart"
**Describe the bug**
forced to modify lib to getting error ...
[code]

**Expected behavior**
confirm work

ps: error unknown is not an valid error !

[2021-06-18 02:39] markphillips100 commented on #153
Investigated the confirm issue above a bit further using AndroidStudio so I can debug into StripeSdkModule.kt and noticed the confirmPaymentMethod in there rejects a promise due to it calling the [mapToPaymentMethodType](https://github.com/flutter-stripe/flutter_stripe/blob/cf38b15a51ffebcda6f1b8e7400ad083737eeca6/packages/stripe_android/android/src/main/kotlin/com/reactnativestripesdk/Mappers.kt#

[2021-06-18 03:12] markphillips100 commented on #153
Related confirm issue #154

[2021-06-18 03:38] markphillips100 commented on #153
I'm thinking the frozen type for cardFromMethodId should be "Card" as it is for cardFromToken?

[2021-06-19 10:35] markphillips100 commented on #153
I forked and changed local repo dart [here](https://github.com/flutter-stripe/flutter_stripe/blob/cf38b15a51ffebcda6f1b8e7400ad083737eeca6/packages/stripe_platform_interface/lib/src/models/payment_methods.dart#L295) to use "Card" rather than "CardId" and I can indeed now call confirmPaymentMethod successfully after using cardFromMethodId.

[2021-06-19 11:20] mustakimpawle opened #155 "Build failed with an exception."
**Describe the bug**
Will running the app I'm getting build failed exception with the below error.

 _*What went wrong:
Execution failed for task ':app:checkDebugAarMetadata'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/androidx/lifecycle/lifecycle-livedata-ktx/2.0.0/lifecycle-livedata-ktx-2.0.0.pom
       - https://jcenter.bintray.com/androidx/lifec

[2021-06-19 12:03] abumoallim opened #156 "Screen goes black on onResume PaymentSheet"
I have successfully implemented PaymentSheet with android & IOS.
In android Just a little issue I am facing when the PaymentSheet is open and the user switches with apps or if the user visits the app from the background the screen goes black and if I press back the screen looks fine.
![WhatsApp Image 2021-06-19 at 4 02 33 PM](https://user-images.githubusercontent.com/14852095/122641671-d7359c80-d1

[2021-06-20 08:33] #19 closed

[2021-06-20 09:03] remonh87 commented on #155
This error in general happens due to an incorrect config on the gradle top level build file. check if your gradle file has the same repositories [as our example app](https://github.com/flutter-stripe/flutter_stripe/blob/main/example/android/build.gradle). If this does not work can you share the top level gradle file with us + which gradle version you are using + android tools version? You can find

[2021-06-20 09:11] mustakimpawle commented on #155
**Top Level Gradle**
`buildscript {
    ext.kotlin_version = '1.5.0'
    repositories {
        google()
        jcenter()

    }

    dependencies {
        classpath 'com.google.gms:google-services:4.3.5'
        classpath 'com.google.firebase:firebase-crashlytics-gradle:2.5.1'
        // Add the dependency for the Performance Monitoring plugin
        classpath 'com.google.firebase:perf-plugin:

[2021-06-20 09:27] #106 closed

[2021-06-21 10:24] ibariens commented on #153
I can confirm that the solution of @markphillips100 works. Thanks!

[2021-06-21 10:45] mortifia commented on #153
@markphillips100  after i tested your solution i got that error :

[code]

do you have a solution to know the exact error coming from stripe or to fix it ?

[2021-06-21 11:01] markphillips100 commented on #153
@mortifia if the error is a response to the Stripe REST api itself then perhaps the Stripe developer dashboard will give a clue.  If it's something in the Stripe SDK itself then maybe debugging the app in Android Studio will allow you to dig deeper and discover what the real reason for the error is.

[2021-06-21 14:47] mortifia commented on #153
I finally found the problem it was a problem that came from our code it missed an await on the get of the secret key

thus giving an empty string as secret key (strange error for that)

[2021-06-21 17:38] SykSamaPro commented on #149
Do you have any idea when the next update will include this version?

[2021-06-21 20:48] sleewok commented on #155
I was having lots of build failures with exceptions as well. Here is what I changed to get rid of the exceptions in my case (hopefully it works for you!):

- android/build.gradle (I set the versions in the file to these)
[code]

- android/gradle/wrapper/gradle-wrapper.properties
[code]

[2021-06-22 05:38] remonh87 commented on #154
We are aware of the limited error messaging and the new version of the Stripe sdk provides more facilities for error handling. We are integrating this at theme moment and expect to fix this in the next version. Will close this issue for now.

[2021-06-22 05:38] #154 closed

[2021-06-22 09:47] ibariens opened #160 "Card details incomplete exception when attempting to call createPaymentMethod using paymentMethodId"
**Describe the bug**
PaymentMethodParams.cardFromMethodId is currently not returning the right  FreezedUnionValue. It probably should be 'Card' instead of 'CardId', as mentioned by MarkPhilipps100 in issue #153 (See: https://github.com/flutter-stripe/flutter_stripe/issues/153#issuecomment-864388271)

Also related:  #154

**To Reproduce**
    final PaymentIntent paymentIntent = await Stripe.instanc

[2021-06-22 09:51] ibariens commented on #153
I guess this issue can be closed, since creating a payment method from a token will not be supported when I read (https://github.com/stripe/stripe-react-native/issues/349). I created a seperate issue for the  PaymentMethodParams.cardFromMethodId problem.

[2021-06-22 12:06] joknjokn commented on #131
If possible, please let me know if this is delayed further or similar. This is currently our only release blocker for our Flutter2-upgrade  (and our backend migration away from tokens can take months, I'm told.).

[2021-06-22 12:46] markphillips100 commented on #153
Yes @ibariens , that's what I understood from the stripe repo too.  For my use case I just support passing either a payment method Id or a token Id to my backend, and just create the payment method there if a token was supplied.  Rest of my workflow is the same then.

Thanks for creating the separate issue too.

[2021-06-22 13:44] jamesblasco commented on #156
Please could you share more about the devices you are testing? Is it the simulator?

[2021-06-23 21:11] bradsb commented on #14
@jonasbark @jamesblasco Could either of you confirm for me that this issue is currently fixed with flutter master? I've switched to both flutter dev and flutter master and added the plugin using a git reference to my pubspec, and am still experiencing the keyboard switching issue mentioned and shown in a video in #135. The keyboard also still changes focus back to the card number when trying to en

[2021-06-23 21:16] jonasbark commented on #14
I can confirm that it worked when I tried flutter from the master channel - I'm not sure if they might have reverted the flutter fix by now.
You can use the main branch of this plugin, the fix is included there.

[2021-06-23 22:00] bradsb commented on #14
@jonasbark I updated my pubspec to use the main branch here. Here is the main issue I'm seeing but maybe it is a separate issue:

Keyboard switching (Android):
<img width="250" src="https://user-images.githubusercontent.com/18087818/123173320-bace9280-d47e-11eb-87c8-89246e1fa4e5.gif" />

[code]

[2021-06-24 04:16] jonasbark commented on #14
Which flutter version do you use exactly?

[2021-06-24 11:46] abumoallim commented on #156
I had to add this code to make it working

  public class MainActivity extends FlutterFragmentActivity {

      protected FlutterActivityLaunchConfigs.BackgroundMode getBackgroundMode() {
          return FlutterActivityLaunchConfigs.BackgroundMode.transparent;
      }

  }

[2021-06-24 11:53] abumoallim opened #163 "Edit Option In PaymentSheet in Android"
When you display the PaymentSheet,
The Edit option is not visible on Android but it is visible on IOS.
Any Solution for this?

In IOS:

![report_bug_stripe](https://user-images.githubusercontent.com/14852095/123258270-40e0ec80-d504-11eb-8713-9f3476f8d267.png)

in Android:

![report_bug_stripe_2](https://user-images.githubusercontent.com/14852095/123258278-42aab000-d504-11eb-87d2-b55711bca34c.png)

[2021-06-24 15:18] lorenzOliveto opened #164 "How to use this plugin as Pay provider & Apple Pay?"
We would like to use this plugin presenting the Apple Pay sheet, obtaining a stripe token, and send it to our backend to complete the payment with stripe.
We've done it with Google Pay, using stripe as the payment gateway in the configuration, but we're not finding a way to do this on iOS & Apple Pay.

I'm assuming this is possible:

[2021-06-24 15:24] jonasbark commented on #160
Thanks for reporting! The PR from @adouglass should indeed fix it.

[2021-06-24 15:24] #160 closed

[2021-06-24 16:34] bradsb commented on #14
@jonasbark Right now I'm on the flutter master branch which is 2.3.0-17.0.pre.417 and I also tried the dev sdk which looks to be at 2.3.0-24.0.pre when I tried it.

[code]

[2021-06-25 07:30] jonasbark commented on #164
Yes, it is possible. Check out this (declined) PR:
https://github.com/google-pay/flutter-plugin/pull/20/files
The only thing for you to do is find out how to extract the actual token from the JSON.

[2021-06-25 07:39] jonasbark commented on #14
Just tested it again, works expected on

and my Android 10 test device

[2021-06-25 09:42] lorenzOliveto commented on #164
Thanks for your response, unfortunately I can't make this working, the code I'm using is this:

[code]

The plan is to create the payment method and confirm the payment with the server sending the payment method id (as we're currently doing with the cards).

The createPaymentMethod returns this

`PlatformException(Failed, There was an unexpected error -- try again in a few seconds, null, null)`

[2021-06-25 10:13] jonasbark commented on #164
What's in the 'tokenData' variable? A single token or something else?
@jamesblasco can you take a look?

[2021-06-25 10:47] lorenzOliveto commented on #164
It's the single token, I've also tried with the whole json string (`paymentResult['token']`) but it gives the same error.

[2021-06-25 23:20] #151 closed

[2021-06-26 05:52] coder-Aayush opened #166 "PlatformException(flutter_stripe initialization failed, The plugin failed to initialize. Are you using FlutterFragmentActivity?"
I am trying to set up a payment using this plugin but can't able to initialize it. I followed the setup instruction for android but facing this issue.
[code]

## Initialization
android/app/src/main/kotlin/com/example/myapp/MainActivity.kt
[code]
build.gradle
[code]

**Smartphone / tablet**
 - Device: Samsung Galaxy A10
 - OS: Android 10
 - Package version: 1.0.2
 - Flutter version 2.0.6

Is there

[2021-06-26 07:52] SebghatYusuf commented on #104
Hi @remonh87,
Any update, when will be the next release?

[2021-06-26 15:23] CalmAndCoDe opened #167 "handleCardAction 3ds issue"
**Describe the bug**
Hi, i used this package for one of my projects but i faced an issue with 3ds required cards, i created a customer, and then attached a payment method on it in my backend and then i created a payment intent with confirmation_method: automatic to confirm intents using my publishable key instread of server. then i tried using handleCardAtion to perform the 3ds authentication but

[2021-06-27 05:45] vijaypareek13 opened #168 "Unhandled Exception: MissingPluginException(No implementation found for method requestFocus on channel flutter.stripe/card_field/1)"
**Describe the bug**
I am not to able to use example demo..

[2021-06-27 09:10] artemtkachenko commented on #160
@jonasbark

this is a pretty important fix, can you release an update?

[2021-06-27 09:15] jonasbark commented on #168
Please provide more information, such as a video, Flutter version used, Phone used etc.

[2021-06-27 11:27] CalmAndCoDe commented on #167
Update: i'm not sure if the error was on stripe end or plugin but it got solved without any change, maybe something is wrong in intialization but not sure.

[2021-06-27 13:42] remonh87 commented on #166
Do you get a stacktrace in the logcat output?

Maybe 2 other things to check:

- Can you try to upgrade to flutter version `2.2.2` ?I do not think the last will solve it but doesn't hurt to try it out.
- Also make sure the following is in your manifest:
[code]

[2021-06-28 03:40] coder-Aayush commented on #166
@remonh87 I have migrated flutter version `2.2.2` and the issue still arises.
here is the error
[code]

[2021-06-28 09:39] Pluralist opened #169 "Getting the PaymentSheetResult response when calling presentPaymentSheet()"
To better handling the future after calling "presentPaymentSheet()", that would be great if we can get the PaymentSheetResult response to access "completed", "canceled" or "failed" status according to the stripe docs instead of just getting a "closed" error in the try/catch block in case the user closes the payment sheet.
Thank you all :)

[2021-06-28 13:16] bilalgodesto opened #170 "Card Payment screen is stuck when i tap pay button on android"
**Describe the bug**
Unable to complete the payment process.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Entering number 4242 4242 4242 4242 into the cardfield with valid 01-23 date and cvv2 as 123
2. Tapping the confirm button.
3. See the loading icon for a long time and then socket exception

[code]

**Expected behavior**
Payment should be completed successfully as it is happen

[2021-06-28 13:28] jonasbark commented on #170
Are you sure your test server is running at http://10.0.2.2:4242?

[2021-06-28 13:33] bilalgodesto commented on #170
Server us running when i am testing
How would server run when we create apk and install on that device?

[code]

[2021-06-28 13:36] jonasbark commented on #170
Your local IP address of the server is probably different than 10.0.2.42. Please adjust accordingly.
You will need a backend system to host your server.

[2021-06-28 13:36] #170 closed

[2021-06-28 15:06] TheFutureStartsNow opened #171 "paybutton description missing"
![Screenshot 2021-06-28 at 18 03 47](https://user-images.githubusercontent.com/26114698/123659349-e234af00-d832-11eb-916f-9f061a75055c.jpg)

This version from https://developer.apple.com/design/human-interface-guidelines/apple-pay/overview/buttons-and-marks/ is missing and it is picked by our design team, so it would be geat to add it.

So something like this would be great, but it is missing
chil

[2021-06-28 21:53] fredrickace commented on #160
@artemtkachenko  I have the following same issue  https://github.com/flutter-stripe/flutter_stripe/issues/153#issuecomment-863225571. StripeError<PaymentIntentError>(message: Confirming payment intent failed, code: PaymentIntentError.unknown)
@jonasbark Will the above fix resolve this issue. Also can release an update is that is fixed?

[2021-06-29 06:29] vijaypareek13 commented on #168
Now it is working !!

[2021-06-29 06:38] #168 closed

[2021-06-29 09:51] darshakpranpariya opened #172 "Android build issue"
[com.stripe:stripe-android:16.8.2] C:\Users\Admin\.gradle\caches\transforms-2\files-2.1\8dc4c04ceec06424a7af9ba3d43bee11\stripe-android-16.8.2\AndroidManifest.xml:13:9-54 Error:
	Missing 'package' key attribute on element package at [com.stripe:stripe-android:16.8.2] AndroidManifest.xml:13:9-54
[com.stripe:stripe-android:16.8.2] C:\Users\Admin\.gradle\caches\transforms-2\files-2.1\8dc4c04ceec06424

[2021-06-29 11:35] artemtkachenko commented on #14
@jonasbark
pixel 3; android 11;

Flutter 2.3.0-24.1.pre • channel beta • https://github.com/flutter/flutter.git
Framework • revision 615957513e (4 days ago) • 2021-06-25 09:24:44 -0700
Engine • revision 9d517f475b
Tools • Dart 2.14.0 (build 2.14.0-188.5.beta)

face the same issue mentioned above by @bradsb

[2021-06-29 11:45] jonasbark commented on #14
Does the example app from this repository show the same issue for you?

[2021-06-29 21:04] jamesblasco commented on #167
Glad to hear that you got it working! Please reopen this issue if you encounter again the same problem :)

[2021-06-29 21:04] #167 closed

[2021-06-29 21:11] jamesblasco commented on #163
I don't think it is implemented yet in the native android SDK. We will integrate it in this plugin as soon is released https://github.com/stripe/stripe-android/issues/3715

[2021-06-30 04:35] julesbacon commented on #14
@jonasbark do you know if this has been addressed on the flutter_stripe side as well or is the only current solution to use Flutter 2.3.0? I'm currently on Flutter 2.2.2 and haven't been able to find a workaround

[2021-06-30 04:52] julesbacon opened #173 "confirmSetupIntent failing on Android"
I have a payment method entry screen with a similar setup to https://github.com/flutter-stripe/flutter_stripe/blob/07356f109f90f61f99d64106169a14269ca51eda/example/lib/screens/setup_future_payment_screen.dart (CardField stores card in state and then calls `confirmSetupIntent`) This works fine on iOS, but on Android it fails with the following logs:

[code]

Has anyone seen related android setup is

[2021-06-30 06:10] jonasbark commented on #14
Yes, as far as I'm concerned it works with Flutter 2.3

[2021-06-30 08:17] linversion commented on #172
try to update your gradle version

[2021-06-30 11:39] artemtkachenko commented on #14
@jonasbark
Yes, the example app from this repository shows the exact same results.

I have also checked it on Samsung. The thing is that the `numeric` layout is built above the alphabetical keyboard and users might not switch a keyboard in order to enter the credit card details.
<img alt="" width="250" src="https://i.ytimg.com/vi/l2dDWqDeMcY/maxresdefault.jpg">

Unfortunately, there is no `numeric

[2021-06-30 11:49] jonasbark commented on #14
If you use
[code]
it's not enough - it will still point to the latest stripe_android package that is published on pub.dev
Please try the following:
[code]

[2021-06-30 12:30] artemtkachenko commented on #14
@jonasbark
Yep, I knew that.
I have already switched to relative paths in stripe/pubspec.yaml
[code]

and included it as a submodule in my project.

Also, I tried InputType.TYPE_CLASS_NUMBER for inputType and it seems to work. A keyboard would not switch to alphabetical anymore. And unfortunately autofocus stopped working properly. Anyway, I think I can sort it out by completely disabling it.

[2021-06-30 12:34] jonasbark commented on #14
Is there an emulator I can choose to reproduce this? @bradsb mentioned e.g. Android 11 (API 30) (emulator)

[2021-06-30 13:07] artemtkachenko commented on #14
@jonasbark
just checked on emulator android-x86    • Android 9 (API 28) 1080x2160 440dpi

same issue;

[2021-06-30 14:45] JoyEnergiser commented on #166
I too have this issue.

[2021-06-30 14:52] jonasbark commented on #166
Does this happen to you on the example app from this repository as well?
Can you share a small project where this issue is reproducible?

[2021-06-30 14:55] bradsb commented on #14
@jonasbark @artemtkachenko after adding the dependency overrides (which I was missing), the keyboard with G board (google keyboard) was appropriately on the numbers-only keyboard and could enter the numbers. However, if I switched to a Flutter TextFormField (to enter a name) and then back to the CardField, I was unable to type any numbers, only delete, so it was still unusable. It didn't work at a

[2021-06-30 16:07] jonasbark commented on #172
Yes, that's the key. Update it to at least e.g. 4.1.9:
https://github.com/flutter-stripe/flutter_stripe/blob/main/example/android/build.gradle#L9

[2021-06-30 16:07] #172 closed

[2021-06-30 16:19] jonasbark commented on #156
Thanks for providing a fix!

[2021-06-30 16:19] #156 closed

[2021-06-30 16:25] jonasbark commented on #142
Documentation was added

[2021-06-30 16:25] #142 closed

[2021-06-30 16:25] jonasbark commented on #155
Improved documentation was added

[2021-06-30 16:25] #155 closed

[2021-06-30 16:56] jonasbark commented on #14
I just tested it again on the sync branch with

and on the "Card payment using webhooks" screen on the example app. Switching back and forth between the mail text field (Flutter) and the CardView I didn't notice any issues. Can you reproduce it in the example app?

[2021-06-30 23:39] MianSaadHafeez646 commented on #169
yeah please add some results, if payment is success give some transaction details !!

[2021-07-01 15:25] AlanTso commented on #170
@jonasbark , Hellow, I'm probably facing the same issue, could you please tell me how to check and adjust the local IP address of the server(Window platform)? Many thanks

[2021-07-01 16:49] JoyEnergiser commented on #166
Hi there, this example I can run with no backend api and a client secret hardcoded and its throwing the error mentioned(with api plugged in is same result) Don't worry about the secret keys I will revoke them later.It will need a google account for the gpay button.

https://github.com/JoyEnergiser/stripe_flutter_example_error

[2021-07-01 17:04] jaiswalshubham84 opened #174 "Payment sheet close as soon as it opens up."
I have a use case in which whatever user pays for the product, it will directly go out to merchant's account by deducting some application fee on top of it.
After reading the stripe documentation, I found that this can be done via using connected account, which I already set it up in stripe dashboard.

Now to complete the transaction first i am creating payment intent from my node server. and once

[2021-07-01 17:14] JoyEnergiser commented on #166
So when I created  an app from scratch and plugged everything in as an example to show you  it worked fine and created the transaction in the stripe log, sigh. So there is something within my main app that is causing this. Will continue investigating

[2021-07-01 19:58] JoyEnergiser commented on #166
I managed to reproduce the error
If you change the src/main/AndroidManifest.xml

android:name=".MainActivity"     (This is the default when you create a new project)
to
android:name="io.flutter.embedding.android.FlutterActivity"     (this is how it is on my app that was created a while ago)

[2021-07-01 20:09] jonasbark commented on #166
as the error states your MainActivity class must extend from FlutterFragmentActivity. In the github project link you shared it still extended from FlutterActivity.

[2021-07-01 20:30] JoyEnergiser commented on #166
Hi yea sorry I deleted that comment after I realised my mistake.That example worked when I changed that FlutterFragmentActivity

[2021-07-02 10:51] jstnw10 opened #175 "Inconsistent behaviour of status for setup intent and payment intent"
The `PaymentIntent` and `SetupIntent` class both contains a status attribute. One of them is a string representation, the other one an enum.

A consistent enum representation would be great.

[2021-07-03 09:37] manda95 commented on #174
I have the same problem.
The connected account is a test account with status "Enabled" on the Stripe Dashboard.

This is the stack trace thrown by the library:

`E/flutter ( 4541): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: PlatformException(Failed, , null, null)
E/flutter ( 4541): #0      JSONMethodCodec.decodeEnvelope (package:flutter/src/services/message_codecs.dart:155:7

[2021-07-03 12:07] manda95 commented on #174
After debugging the file

stripe_android-1.0.2/android/src/main/kotlin/com/reactnativestripesdk/PaymentSheetFragment.kt

on line 61, paymentResult.error is:

`StripeError(
type=invalid_request_error,
message=Resource payment_intent not found: 'pi_1J96uU****n5uOwE',
code=resource_missing,
param=intent,
declineCode=null,
charge=null,
`docUrl=https://stripe.com/docs/error-codes/resource-missing)`

ma

[2021-07-04 11:43] remonh87 commented on #173
Can you try using our `sync` branch? I am able to confirm an setupintent without issues. For more info how to use remote branches check: https://dart.dev/tools/pub/dependencies#git-packages . We are planning to release a new major version soon.

[2021-07-04 14:54] jonasbark commented on #147
Merged and published

[2021-07-04 14:54] #147 closed

[2021-07-04 14:55] jonasbark commented on #131
Merged and published

[2021-07-04 14:55] #131 closed

[2021-07-04 14:55] jonasbark commented on #104
New version is released, so closing this issue

[2021-07-04 14:55] #104 closed

[2021-07-04 14:57] jonasbark commented on #80
Font Family can now be adjusted with the Style attribute:
https://github.com/flutter-stripe/flutter_stripe/blob/main/packages/stripe/lib/src/widgets/card_field.dart#L19
Please test it :)

[2021-07-04 17:46] wilpar commented on #93
I also have a problem getting the payment sheet to display.  I've copied the payment_sheet_screen from the example app to start as simply as possible.

_initpaymentsheet works fine - I modified it to get my pub key from firebase, and have moved the _createSheet function from the local express server to firebase functions.  Both of these modifications are replying with the expected results. Stripe

[2021-07-04 17:59] wilpar opened #177 "iOS: No Payment Sheet when applePay = true (see first reply)"
**Describe the bug**
When following the payment_sheet_screen from the example app, Stripe.instance.presentPaymentSheet does not present the Payment Sheet.

**To Reproduce**
Please see code below.  Mostly followed from the payment_sheet_screen demo.
_initpaymentsheet works fine - I modified it to get my pub key from firebase, and have moved the _createSheet function from the local express server to

[2021-07-04 19:01] wilpar commented on #177
Update: if I remove
[code]

from the SetupPaymentSheetParamaters,  I can show the paymentSheet!

Now the problem becomes, how do I enable apple pay?  It's set up in Stripe with my Apple Developer key.

[2021-07-05 09:00] joknjokn commented on #104
@jonasbark In the example in github I see ".createToken"-method in the legacy example. I assume that's the one to use, right? However, that function is not available from Stripe.instance in the new flutter_stripe 1.1.0 version.

Am I missing something?

[2021-07-05 10:02] remonh87 commented on #104
@joknjokn  it is part of the Stripe instance see: https://github.com/flutter-stripe/flutter_stripe/blob/e58bdadfb4e47b74f53d850e4ac98e955aabd770/packages/stripe/lib/src/stripe.dart#L146

[2021-07-05 10:12] joknjokn commented on #104
@remonh87 , but it's not in the 1.1.0 version you released to pub.dev yesterday. I can see that you updated your dependency from 1.0.2 to 1.1.0 in you main branch an hour ago, despite releasing 1.1.0 yesterday. So I guess your 1.1.0-version in pub.dev is broken?

[2021-07-05 10:29] joknjokn commented on #104
At least this looks like a package-problem to me, but I'm unsure. Android studio reports "The method 'createToken' isn't defined for the type 'Stripe'."

I have triple checked by pubspec.yaml, and did flutter clean and pub get multiple times, but it still can't find that function.

[2021-07-05 10:43] jonasbark commented on #104
You can also run `flutter packages upgrade` and double-check your pubspec.lock file.
If you see one dependency being outdated you can upgrade it specifically by running `flutter packages upgrade stripe_platform_interface`

[2021-07-05 11:08] joknjokn commented on #104
Sure, did all of that. I guess it was some Android Studio caching or similar, since a full reboot helped.

[2021-07-05 12:05] subhra9326 commented on #166
Hi I am getting same error but I have changed that in FlutterFragmentActivity. Please see the bellow I have given everything what I have implemented.

**Technology:**

Flutter 2.2.2
SDK: ">=2.12.0 <3.0.0" - Null safety added.
FireBase Function for API call.
FireBase FireStore for Data store.
 flutter_stripe: ^1.0.2

**Error, I faced :**
Exception has occurred.
PlatformException (PlatformException(

[2021-07-05 12:12] jonasbark commented on #166
```   android:name="io.flutter.app.FlutterApplication"```
this should point to your MainActivity class instead

[2021-07-05 15:17] jstnw10 opened #178 "Weird behaviour of StripeCard Widget on Android"
After typing a number the keyboard jumps back to normal text input. Could the behaviour be changed to numeric input only? Also, the expiration date does not work the correct way if the card number isn't completed. The separator between the month and the year does not appear. When I remove a character, the focus jumps back to the card number.

I am currently on version 1.1.0. There is just a CardFi

[2021-07-05 15:18] jonasbark commented on #178
Dupe of https://github.com/flutter-stripe/flutter_stripe/issues/14
Also check out https://github.com/flutter-stripe/flutter_stripe#known-issues

[2021-07-05 15:18] #178 closed

[2021-07-05 15:23] Raphicci opened #179 "Creating a bank account and receiving a token"
I'm currently using flutter_stripe_payment package in order to register a bank account and receive a token, for receiving later payments on an account (using their method "createTokenWithBankAccount") and wanted to migrate to this package,  forced by outdated stripe plugin versions.

As stated in their migration guide ([here](https://github.com/jonasbark/flutter_stripe_payment/blob/master/migratio

[2021-07-05 18:28] jonasbark commented on #179
Thanks for the hint - unfortunately we have forgotten about adding other token types apart from Card.

cc @remonh87  https://github.com/stripe/stripe-react-native/blob/master/src/types/Card.ts#L61

[2021-07-05 18:33] Raphicci commented on #179
My company will need this feature ASAP so i thought i could help you by creating a PR for it, do you have any guidelines / interfaces in mind to implement this and contribute ?

[2021-07-05 19:27] subhra9326 commented on #166
Hi, @jonasbark can you tell me the step to do that. I don't understand what to do. Thank you.

[2021-07-05 19:28] remonh87 commented on #179
@jonasbark  I added the dart bindings for bankaccount already but it was not yet supported in the react-native bindings at the version we integrated. I noticed bankaccount is not yet supported in react native https://github.com/stripe/stripe-react-native/blob/2b8fdd8d6634662bcd03ec01be32a7ce4c72e914/src/functions.ts#L52 . @thorsten-stripe  can you confirm?

[2021-07-05 22:53] harguilar commented on #40
Hi Guys,
Am having an issue with my CardFiel, is giving me a funny error below. I have already used the Theme.AppCompat.Light.NoActionBar on the style.xml but the issue continues;
Here is the error:

Exception has occurred.
MissingPluginException (MissingPluginException(No implementation found for method clearFocus on channel flutter.stripe/card_field/0))

Thanks in advance.

[2021-07-06 05:18] jamesblasco commented on #40
Hi @harguilar, could you post the full error log?

[2021-07-06 07:28] harguilar commented on #40
Hi @jamesblasco,
Thanks for a quick feedback, Below is the full error log. Sorry the the amount of versobity into it.
`E/MethodChannel#flutter/platform_views(22089): Failed to handle method call
E/MethodChannel#flutter/platform_views(22089): android.view.InflateException: Binary XML file line #22 in com.example.gooddollarsmarketplace:layout/card_input_widget: Binary XML file line #22 in com.exampl

[2021-07-06 07:37] jonasbark commented on #40
This line suggests that the correct theme isn't applied correctly. Please check the android section again https://github.com/flutter-stripe/flutter_stripe#android, specifically applying the style change to the night theme as well.

[2021-07-06 07:46] tudor07 commented on #80
@jonasbark it does not work. It still uses the default font. I am using version `1.1.0`.

[2021-07-06 07:52] harguilar commented on #40
Hi Jonasbark,
Thanks for the feedback,
Am newbie into this, could you please explain to me where to I go to change my app theme to match Theme.AppCompat. So far, what I have done is to copy the style.xml as the on you have and replace my one in file within res folder. Or if you have any reference where I can go and change that I would also appreciate it.
thanks

[2021-07-06 08:07] jonasbark commented on #80
@tudor07 please share more details, such as the fontfamily you're trying to use and the device you're testing it

[2021-07-06 09:16] jamesblasco commented on #80
Indeed it is not implemented for iOS. I will reopen and assign it to myself

[2021-07-06 14:49] emmaxCreative commented on #169
I would need this as well. how do we know if the payment was successful without a response?

[2021-07-06 16:04] JoyEnergiser commented on #166
Good day, I have solved my issue by editing my AndroidManifest.xml

1) adding the following android:name=".MainActivity"  instead of  android:name="io.flutter.embedding.android.FlutterActivity"
2) removing
 android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
 android:value="true"

https://github.com/flutter/flutter/issues/47136

[2021-07-06 16:37] emmaxCreative opened #180 "Possibility to change pay button color and disable country input"
**Is your feature request related to a problem? (please describe)**
I would like a way to customize the paymentSheet. especially the color of the pay button to represent my apps overall look and feel.
I would also like to hide the country input or atleast preselect it to a certain country and ZIP.
Other ways to customize like for example a borderRadius for the paymentSheet would be great but not s

[2021-07-06 16:48] pateldhiraj782 opened #183 "How to get payment status and payment response details after completion of payment to store the detail of payment for Card Payment?"
**Is your feature request related to a problem? (please describe)**
A clear and concise description of what the problem is. Ex. I would like to see [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear description of  alternative solutions or features you've considered.

**Additional context**
Ad

[2021-07-06 17:38] AndreiStefanie commented on #169
The current behavior seems to be the same whether the user cancels or completes the payment (i.e. no exception is thrown). I attempted to return the result, but the required changes also include platform-specific code which I struggle to follow and debug for now.

This would be a really nice enhancement indeed.

Thank you and keep up the awesome work!

[2021-07-06 19:57] pateldhiraj782 opened #184 "how to handle payment failed on close icon click of card payment ?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Entering number 123-456-789 into the cardfield.
2. Tapping the confirm button.
3. Observe a failure with exception (including the part of the stack trace, belonging to this package) …

**Expected behavior**
A clear and concise description of what you expected to happen.

*

[2021-07-07 00:00] hjudoo opened #185 "Creating Payment method missing address"
Creating payment method not sending address but  name, email and phone information sent.
 I am using the example no webhooks with cardfield

 On stripe:
Request POST body
{
  "muid": "xxxxxxxx",
  "billing_details": {
    "name": "test30 test",
    "phone": "5555555555",
    "email": "h@gmail.com"
  },

"billing_details": {
          "address": {
            "city": null,
            "country": nu

[2021-07-07 00:11] hjudoo commented on #40
https://github.com/flutter-stripe/flutter_stripe scroll down to requirements and click on the example to change all requirement files..
for Theme.AppComp inside your app folder android/app/src/main/res/values/styles.xml  and android/app/src/main/res/values-night/

[2021-07-07 00:36] julesbacon commented on #173
@remonh87 I tried using the `sync branch` by adding the following:
[code]

[2021-07-07 07:40] werdlv opened #187 "merchantDisplayName can not be set via Stripe.instance.presentApplePay"
**Describe the bug**
`merchantDisplayName` can not be set via `Stripe.instance.presentApplePay`

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Possibility to pass `merchantDisplayName` into `ApplePayPresentParams` class. It seems that further on the platform code logic already handles that [here](https://github.com/flutter-stripe/flutter_stripe/blob/b73481528a14ad

[2021-07-07 08:07] TesfahunK commented on #169
I am stuck on this too , there should be some kind of boolean response if the payment actually went through, cancelled or failed.

[2021-07-07 09:52] mklepaczko opened #188 "using 'stripe_account' parameter for marketplace functionality"
Hi,

I need to implement Stripe using the marketplace functionality. For this according to Stripe docs the 'stripe_account' parameter is needed.

Since there is no documentation about that for this plugin and the official docs does not include any Dart or Flutter code samples could you provide an example? I tried several combination but I still get the 'parameter_unknown - stripe_account'.

https:

[2021-07-07 15:15] kalptech2021 commented on #184
When I am pressing the close icon, its not confirming the payment but still it shows the snackbar, "payment successfully completed", How to handle if the payment is completed or not

[2021-07-07 15:52] kalptech2021 opened #189 "Close on icon on the payment sheet, executes the try block and shows the snackbar, it is suppose to run the error block to handle the error"
try{

       await Stripe.instance.presentPaymentSheet(parameters: PresentPaymentSheetParameters(

        clientSecret: _paymentIntentData!['paymentIntent'],

        confirmPayment: true,

      )).whenComplete((){
        setState(() {
          _paymentIntentData = null;
        });
        ScaffoldMessenger.of(context).showSnackBar(
          SnackBar(content: Text('Successful')),
        );

[2021-07-07 18:12] jonasbark commented on #189
Dupe of https://github.com/flutter-stripe/flutter_stripe/issues/184

[2021-07-07 18:12] #189 closed

[2021-07-07 18:14] jonasbark commented on #188
I'm not sure what this is targeting?
Which function of this Flutter library are you trying to use with an included "stripe_account"? Are you talking about Stripe Connect?

[2021-07-07 18:14] remonh87 commented on #93
@jonasbark  @giandifra  can you check if the issue still occurs with 1.1.0?

[2021-07-07 18:15] jonasbark commented on #185
Which method are you using with this Flutter Stripe plugin where you cannot set an address?

[2021-07-07 18:16] jonasbark commented on #183
Thanks for the feedback. We are looking into it.

[2021-07-07 19:30] hjudoo commented on #185
try {

    final billingDetails = BillingDetails(
      email: 'email@stripe.com',
      phone: '+48888000888',
      address: Address(
        city: 'Quebec',
        country: 'CA',
        line1: '1459  Circle Drive',
        line2: '',
        state: 'quebec',
        postalCode: 'j1x1x1',
      ),
    ); // mocked data for tests

    // 2. Create payment method
    final paymentMethod =

[2021-07-07 20:42] mklepaczko commented on #188
Yes, it is Connect / Payments / Multiparty payments.

"In our store builder example, we want to build an experience where customers pay businesses directly. To set this experience up:

Indicate a purchase from the business is a direct charge with the Stripe-Account header."

[2021-07-08 00:22] kalptech2021 commented on #169
Same here, After cancelling the payment it does not complete the transaction but executes the code, I am not sure how to handle the cancel payment, try error block isn't working

[2021-07-08 03:02] kalptech2021 commented on #137
@mike392  is it working for you? I have tried using try-catch block but it isn't working. Even after pressing cross button, it executes the try block not the catch

[2021-07-08 06:25] awaik opened #190 "return result from Stripe.instance.presentPaymentSheet"
Right now `Stripe.instance.presentPaymentSheet` returns void Future. In this case if user closes the payment screen he will get message 'Payment successfully completed'.

https://github.com/flutter-stripe/flutter_stripe/blob/e58bdadfb4e47b74f53d850e4ac98e955aabd770/example/lib/screens/payment_sheet_screen.dart#L87-L105

[2021-07-08 06:26] awaik commented on #190
Found that this issue is connected with https://github.com/flutter-stripe/flutter_stripe/issues/184

[2021-07-08 08:07] remonh87 commented on #190
Yes it is a duplicate of #184  will close this one. We expect to have a fox next release

[2021-07-08 08:07] #190 closed

[2021-07-08 12:53] SoorajSoman opened #191 "Android app crash with IllegalStateExceptionat io.flutter.plugin.platform.PlatformViewsController.initializePlatformViewIfNeeded"
I have implemented  web hook payment method as described in the [https://github.com/flutter-stripe/flutter_stripe/blob/main/example/lib/screens/webhook_payment_screen.dart](https://github.com/flutter-stripe/flutter_stripe/blob/main/example/lib/screens/webhook_payment_screen.dart) and the payment is working as expected for the 1-2 transaction however if i switch between apps and then click on the p

[2021-07-08 13:54] wilpar commented on #188
I just completed this yesterday using the payment_sheet demo.  I'll be making a video about it today, will link it here.

[2021-07-08 13:56] wilpar commented on #177
Solution: must set Stripe.merchantIdentifier before calling initPaymentSheet.

[2021-07-08 13:56] #177 closed

[2021-07-08 14:28] mklepaczko commented on #188
Great thanks!

[2021-07-08 14:36] jonasbark commented on #188
Isn't https://github.com/flutter-stripe/flutter_stripe/blob/main/packages/stripe_platform_interface/lib/src/stripe_platform_interface.dart#L33 'stripeAccountId' what you're searching for?

[2021-07-08 14:40] jonasbark commented on #185
what exactly do you mean by that? the address in BillingDetails isn't sent? Isn't sent where? To Stripe?
Please share more details

[2021-07-08 18:41] mklepaczko commented on #188
@wilpar Yes thanks, I will have the answer there. I will wait till you publish the link to the video and close this one.

thx.

[2021-07-08 20:01] subhra9326 commented on #166
Hi, @JoyEnergiser and @jonasbark, thanks for helping me, My problem is resolved. Again thanks a lot.

[2021-07-08 22:30] hjudoo commented on #185
sorry I thought I was clear..my bad.
I am using the example Payment No Webhooks. The first step in the code is create payment method and sending parameters BillingDetails. The name, email and phone appears in the stripe payment method that was created but not the address and if I look as the post body(in stripe logs) the address was not sent to stripe. The whole process works even if the address i

[2021-07-09 07:57] Bazzz-1 commented on #169
Yeah it does leave the function somewhat flawed if we can't check if the payment sheet was successful or cancelled.

Really hope we can get a fix for this soon!

[2021-07-09 08:08] remonh87 commented on #169
Duplicate of #184 will be soon fixed.

[2021-07-09 08:08] #169 closed

[2021-07-09 10:03] vishnuhifx opened #194 "App got crashed after adding CardField"
My Android App got crashed after adding the CardField.
I added all the changes mentioned below.
Android 5.0 (API level 21) and above
Kotlin version 1.5.0 and above: example
Using a descendant of Theme.AppCompact for your activity:
Using FlutterFragmentActivity instead of FlutterActivity in MainActivity.kt:

I am getting this response

E/AndroidRuntime(32373): FATAL EXCEPTION: main
E/AndroidRuntime

[2021-07-09 10:07] jonasbark commented on #194
Which Android device are you using for testing? Which Android version does it have?

[2021-07-09 14:36] jaiswalshubham84 commented on #174
@manda95
Thanks for commenting.
The solution you provided also worked for me.

[2021-07-09 22:43] bradsb commented on #14
@jonasbark I just tested with master and dev flutter channels with your example app with the most recent up to date pull from master and have the same issue.

Here's the video:

https://user-images.githubusercontent.com/18087818/125141458-629dbe80-e115-11eb-95fa-db248e2b7396.mp4

Here's the flutter doctor and verbose logs:

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<detai

[2021-07-09 23:56] subhra9326 opened #197 "Stripe and Jitsimeet not working together in flutter"
stripe and Jitsi meet not working together with the latest version
my version is
flutter_stripe: ^1.0.2
  jitsi_meet: ^4.0.0
, can anyone please tell me the reason why it's happening and what is the solution for that.

[2021-07-10 02:31] wilpar commented on #183
@pateldhiraj782 webhooks are your friend.

[2021-07-10 02:32] wilpar commented on #197
error logs please...

[2021-07-10 02:35] wilpar commented on #184
I use the charge.succeeded webhook to 'believe' that the payment worked.  Always better to trust a Stripe webhook than something that happens on the client.

[2021-07-10 03:17] davidbnk commented on #87
This is happening on Android, I'm using the master branch
[code]

[2021-07-10 09:39] subhra9326 commented on #197
[+12606 ms] D/JITSI_MEET_PLUGIN(15785): JitsiMeetEventStreamHandler.onListen
[   +2 ms] D/JITSI_MEET_PLUGIN(15785): JitsiMeetEventStreamHandler.onCancel
[   +1 ms] D/JITSI_MEET_PLUGIN(15785): JitsiMeetEventStreamHandler.onListen
[ +378 ms] E/flutter (15785): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: type 'Null' is not a subtype of type 'String' of
'function result'
[   +2 m

[2021-07-10 11:45] manda95 commented on #174
The problem of this approach is that the stripe fee for the transfer is charged by the main account, and not to the connected account, which will receive the full payment; so the main account will pay the taxes.

e.g:

![image](https://user-images.githubusercontent.com/59965348/125161831-d2975d80-e184-11eb-8413-3120167658f8.png)

the user pay €5.00, the connected account will receive €5.00, and th

[2021-07-10 17:01] ericel opened #198 "Creating Payment method: Unhandled Exception: type 'Null' is not a subtype of type 'Map<String, dynamic>' in type cast"
**Describe the bug**
I am getting the following error trying to use creae payment method for card:

**To Reproduce**
[code]

**Smartphone / tablet**
 - Device: [e.g. iPhone X]
 - OS: [e.g. iOS 11]

[2021-07-10 17:04] #198 closed

[2021-07-10 17:36] SoorajSoman commented on #191
Hi @jonasbark ,
This was more related with Navigation controller with in the project rather than a library issue .The log message was misleading  that made me to raise a ticket , I was able to fix it from my side .
Thanks for  looking into the same 👍

[2021-07-10 17:36] #191 closed

[2021-07-10 23:48] kalptech2021 commented on #184
@wilpar now I am using stripe's API directly with node, I need to add a lot of functions, but it solves all the issues.

[2021-07-11 08:19] artemtkachenko commented on #14
@jonasbark

Flutter 2.4.0-0.0.pre • channel dev • https://github.com/flutter/flutter.git
Framework • revision 96bbcd006f (11 days ago) • 2021-06-30 03:43:41 -0400
Engine • revision c633b2a6a0
Tools • Dart 2.14.0 (build 2.14.0-258.0.dev)

android 11, pixel 3

see the video below

https://user-images.githubusercontent.com/8479197/125187755-c7523980-e239-11eb-8c86-f01d0cd30193.mp4

[2021-07-11 09:01] jonasbark commented on #198
Can you tell us how you resolved this?

[2021-07-11 09:03] jonasbark commented on #191
It till is a crash that should be resolved - can you tell us how to reproduce this with a minimal example?

[2021-07-11 09:06] jonasbark commented on #197
The error log does not seem to be related to stripe

[2021-07-11 09:10] #188 closed

[2021-07-11 09:57] remonh87 commented on #137
Stripe improved feedback mechanism in their bindings for paymentsheet. #199 will fix it

[2021-07-11 10:19] remonh87 commented on #174
I think with #199  we improve the error messaging of the paymentsheet, this is the only thing that we can do for you as a plugin.  For the rest of the problem I think it is good to ask stripe customer service on how to do this.  I will close it for now  but feel free to reopen it if you still do not get proper feedback.

[2021-07-11 10:19] #174 closed

[2021-07-11 11:10] #184 closed

[2021-07-11 11:38] remonh87 commented on #187
@jamesblasco  this is very curious I see the merchantDisplayName in the initPaymentSheet but it is not added in the stripe bindings for apple pay. Can you check what is going on there?

[2021-07-11 11:50] remonh87 commented on #173
I  am not able to reproduce it. Can you try using our example app? Also Can you send me the full log since I miss the actual error message. The stacktrace that you provided just says some decoding went wrong but not what is wrong

[2021-07-11 11:56] remonh87 commented on #117
You indeed need to use named imports. We use `Card`  class since it is consistent naming with the stripe SDK we are using.

[2021-07-11 11:56] #117 closed

[2021-07-11 11:59] remonh87 commented on #75
@mortenolsson  we have integtated the seupIntent in the payment sheet see comment of @thorsten-stripe . Do you think this is sufficient ?

[2021-07-11 12:05] remonh87 commented on #93
Close this issue for now since I cannot reproduce it on `main` branch. Besides this we integrated better error handling in the payment sheet and now provide a result object In case something is wrong it will provide you with a meaningful message. Feel free to reopen with additional info (logcat logs) in case it still doesn't work

[2021-07-11 12:05] #93 closed

[2021-07-11 12:16] SoorajSoman commented on #191
@jonasbark What i meant  was the crash happened in my device specifically due to some issue with the navigation  which is  not  related to the library.In my project after the payment was successful the reference number was shown in a dialog box  and  then directly navigating to my dashboard screen with out a pop operation ,So for the second time the app tried to add the same view in to the stack w

[2021-07-11 12:19] remonh87 commented on #125
@PositronicBrain is the issue serliazation issue still there with version `1.1.0`?  I am able to do 3d secure authentication without issues.   I think the last error is related to something wrong in the backend.

[2021-07-11 15:18] subhra9326 commented on #197
Actually, when I am removing the stripe library, jitsi meet working well but when I add the stripe library, its meet gives Activity related errors like
[ +15 ms] I/Timeline(15785): Timeline: Activity_launch_request time:49360323
[ +25 ms] I/FIAM.Display(15785): Unbinding from activity: MainActivity.

I am guessing like Jitsimeet may need activity and stripes need fragment on MainActivity.

[2021-07-12 08:11] #133 closed

[2021-07-12 08:37] jaiswalshubham84 commented on #148
@abumoallim
Did u find any solution of it?

[2021-07-12 08:42] ApofisXII opened #201 "Wrong type of keyboard on some Android devices"
**The bug**
On Android, when adding a Credit Card, the component uses the standard keyboard, forcing user to switch to numeric keyboard for **every keypress**.

**Expected behavior**
Card element need to show up the _numeric keyboard_

**Smartphone / tablet**
Device: OnePlus 5
OS: Android 10
Package version: 1.0.2 and 1.0.1 both have the same issue
Flutter version: 2.3.0

![photo_2021-07-12 10 35

[2021-07-12 08:46] jonasbark commented on #201
Please use Plugin version 1.1.0
This issue is mentioned in the readme and tracked in https://github.com/flutter-stripe/flutter_stripe/issues/14

[2021-07-12 08:46] #201 closed

[2021-07-12 08:50] ApofisXII commented on #14
Plugin version 1.1.0:
**Still not working** on my Android Device

[2021-07-12 08:52] ApofisXII commented on #201
@jonasbark not working even with 1.1.0.
I'll continue writing about this in #14

[2021-07-12 11:54] artemtkachenko commented on #14
btw I just checked
https://github.com/stripe/stripe-android
HEAD release-v16.10.2 v16.10.2 origin/release-v16.10.2

and they actually have the same issue if you change edit-text input type programmatically:
`cardNumberEditText.inputType = InputType.TYPE_CLASS_TEXT`

https://user-images.githubusercontent.com/8479197/125283150-ce07ac00-e320-11eb-8721-131c4edce95e.mp4

@jonasbark
is it reproducible o

[2021-07-12 11:57] jonasbark commented on #14
It still works fine for me with the latest Flutter master channel version. I'd like to reproduce it but I need the exact combination of the Flutter version and an Android simulator.

[2021-07-12 12:32] vishnuhifx commented on #194
I am testing it on Realme X and my Android version is 10.

[2021-07-12 12:34] ApofisXII commented on #14
To reproduce:
Flutter version 2.3.0-17.pre.213

[2021-07-12 12:53] jonasbark commented on #14
@ApofisXII does it work for you in the latest version on the master channel?
Also, which Simulator can I use to reproduce this?

[2021-07-12 13:10] ApofisXII commented on #14
@jonasbark using Flutter 2.4.0-1.0.pre.189
**Good:** it uses a numeric keyboard!
**Very bad:** the text field does not fill with the numbers(!!!)

https://user-images.githubusercontent.com/5765363/125292998-4a9b8a00-e323-11eb-97d3-a75b57527e65.mov

[2021-07-12 13:14] ApofisXII commented on #14
This is the error log that shows when that page is loaded:
`W/View    (14051): requestLayout() improperly called by android.widget.ImageView{54eb9b7 V.ED..... ......ID 0,0-84,55 #7f080136 app:id/icon} during layout: running second layout pass
W/View    (14051): requestLayout() improperly called by android.widget.FrameLayout{9a50524 VFE...... ......ID 156,33-877,90 #7f0800b1 app:id/container} durin

[2021-07-12 13:33] jonasbark commented on #14
Can you confirm this issue (entering numbers doesn't work) with the example app as well?

[2021-07-12 13:59] ApofisXII commented on #14
Just tried: I confirm that the issue (number keyboard appear without typing in the field) is present in the example app as well.
Tested on: Android 10 (Oneplus 5)
Tested on: Android 9 (Huawei VTR-L09)
Flutter: 2.4.0-1.0.pre.189

Same errors in the log that I posted up here.

[2021-07-12 14:14] jonasbark commented on #14
I still need an Android emulator specification so I can reproduce it

[2021-07-12 14:26] ApofisXII commented on #14
Issue reproduced with simulator: **Pixel_3a_API_30_x86** (android-x86 emulator)

Video:

https://user-images.githubusercontent.com/5765363/125304463-e8945200-e32d-11eb-8710-e03832706d01.mov

[2021-07-12 14:27] lbk9 opened #202 "Android failing to inflate card_input_widget"
**Describe the bug**
The CardField widget is throwing a PlatformException on the latest version of the package on Android

**To Reproduce**

1. Launch app on Android
2. Navigate to page with the CardField widget
3. See following exception;

`PlatformException (PlatformException(error, Binary XML file line #22 in com.csl.freshcar:layout/card_input_widget`

**Expected behavior**
You expect to see th

[2021-07-12 14:30] lbk9 commented on #202
Trouble package in code;
[code]

Logs;
E/MethodChannel#flutter/platform_views(25889): Caused by: java.lang.IllegalArgumentException: The style on this component requires your app theme to be Theme.AppCompat (or a descendant).
E/MethodChannel#flutter/platform_views(25889): 	at com.google.android.material.internal.ThemeEnforcement.checkTheme(ThemeEnforcement.java:243)
E/MethodChannel#flutter/platfor

[2021-07-12 14:34] jonasbark commented on #202
Please read the Readme - dupe of #69

[2021-07-12 14:34] #202 closed

[2021-07-12 14:40] lbk9 commented on #202
@jonasbark issue still persists, here is my styles.xml
`<?xml version="1.0" encoding="utf-8"?>
<resources>

    <style name="LaunchTheme" parent="Theme.AppCompat.Light.NoActionBar">

        <item name="android:windowBackground">@drawable/launch_background</item>
    </style>

    <style name="NormalTheme" parent="Theme.AppCompat.Light.NoActionBar">
        <item name="android:windowBackground">?a

[2021-07-12 14:47] jonasbark commented on #202
Please continue with the issue I linked.
There's also a styles.xml for dark mode and you will have to adjust to use FlutterFragmentActivity

[2021-07-12 14:48] lbk9 commented on #202
@jonasbark
build.grade;
`classpath 'com.android.tools.build:gradle:4.1.2'`

mainactivity;
[code]

[2021-07-12 14:59] lbk9 commented on #202
Missed the dark themed one, brilliant @jonasbark

[2021-07-12 15:05] lbk9 opened #203 "FlutterError thrown on payment method creation on Android"
**Describe the bug**
The UI behaves as expected, the user is able to interact with the CardField. However, when I press the associated button with the cardfield and call
`await Stripe.instance
        .createPaymentMethod(PaymentMethodParams.card())
        .then((paymentMethod) {
      paymentMethod = paymentMethod;
      _handlePayment(paymentMethod);
    }).catchError(setError);`

A FlutterErro

[2021-07-12 15:11] jonasbark commented on #203
Please post a minimal project where this is reproducible.
The error you posted indicates that it's a developer error, unrelated to the plugin itself

[2021-07-12 17:22] artemtkachenko commented on #14
@jonasbark

Android Studio 4.2.2
Build #AI-202.7660.26.42.7486908, built on June 24, 2021
Runtime version: 11.0.8+10-b944.6916264 x86_64
VM: OpenJDK 64-Bit Server VM by N/A
macOS 10.15.7

Flutter 2.4.0-1.0.pre.190 • channel master • https://github.com/flutter/flutter.git
Framework • revision 7a0b4669fc (62 minutes ago) • 2021-07-12 09:01:04 -0700
Engine • revision 7851449b4d
Tools • Dart 2.14.0 (b

[2021-07-12 17:54] romme86 opened #204 "confirmSetupIntent error on iOS"
**Describe the bug**
Using the example in setup_future_payment_screen.dart
I set up a simple card saving procedure with the CardField widget, this is working for Android but not for Apple.

**To Reproduce**
1. set up the CardField
2. do a request to get back the client_secret
3. call confirmSetupIntent() with the client_secret
4. this will give an error on the .g file: "[]id was called on null"

T

[2021-07-12 18:57] remonh87 commented on #204
Did you test it with the latest version on master. I fixed the example screen yesterday since there was indeed a bug in it.

I did the following on iOS:
1.  Enter card `4000000000003063` in the card field (stripe test card containing 3d secure).
2.  press `save` , this is succesfull
3.  Press `pay with saved card off session` I get an error response (still correct since I need to authorize payment

[2021-07-12 18:57] #204 closed

[2021-07-13 01:07] ericel commented on #203
Doesn't work in ios either. The card payment method is kinda broken. There are a lot of issues here on this method but no solution so far!!

[2021-07-13 01:10] ericel commented on #198
I didn't solve it. I closed because there is an open case about this..

[2021-07-13 01:15] ericel commented on #122
@remonh87

[2021-07-13 05:01] jonasbark commented on #203
Then help us by providing a reproducible example.

[2021-07-13 09:56] mortenolsson commented on #75
@remonh87 I'll check it out and get back to you

[2021-07-13 11:18] jaiswalshubham84 opened #205 "Payment sheet opens and close quickly when i am using client Id generated from live key."
My code in node js

app.get('/payment', async (req, res) => {

[code]

My code at the Flutter end

[code]

The same thing is working when i generate payment intent id(client id) with test key but when I do the same with the release key, the payment sheet opens and closed after that.

Please help me to resolve this issue.

[2021-07-13 11:39] remonh87 commented on #205
Can you provide me some logs? Normally the paymentsheet shows some errors normally that will help us identifying the issue

[2021-07-13 12:15] jonasbark commented on #194
Does the example app work for you?
Which other plugins are you using?

[2021-07-13 12:17] chetu-ko commented on #36
Hi. there is any update for flutter web support?

[2021-07-13 14:14] artemtkachenko commented on #14
@jonasbark
guys can you confirm the issue on your end or you still need some data?

[2021-07-13 15:04] lbk9 commented on #203
I've attempted to create a reproducible example using my with MobX as I have in the project where I am running into. The issue is not showing here so it must be something on my side.

I'm not sure what the issue is on my side but the issue only ever occurs on the specific page and when the CardField widget when I have entered payment details and attempt to complete an API call to confirm the payme

[2021-07-13 15:13] jonasbark commented on #203
Alright - keep us updated when you find a solution as it might help others.

[2021-07-13 15:13] #203 closed

[2021-07-13 15:16] jaiswalshubham84 commented on #205
@remonh87
this what i am getting

[code]

[2021-07-13 17:48] romme86 commented on #204
I tried pulling your changes and running the example but it does not start now:

    lib/screens/payment_sheet_screen.dart:87:31: Error: Type 'PaymentSheetResult' not found.
      String _createResultMessage(PaymentSheetResult result) {
                                  ^^^^^^^^^^^^^^^^^^
    lib/screens/payment_sheet_screen.dart:87:31: Error: 'PaymentSheetResult' isn't a type.
      String _creat

[2021-07-14 00:10] robyhuzwandar commented on #166
Hi, there is no work for me, do you have another solution?

[2021-07-14 02:53] uzirthapa opened #206 "Unhandled Exception: type 'Null' is not a subtype of type 'Map<String, dynamic>'"
**Describe the bug**

Just converted my project to Null Safety and now this function stopped working correctly.

[code]

When looking at the stack trace it is giving me an error

[code]

Stack Trace:

[code]

**To Reproduce**
Steps to reproduce the behavior:

-Get Client Secret from SetupIntent

[code]

- Add a credit card "4242-4242-4242-4242" with billing details and call this function:

[code]

[2021-07-14 03:09] uzirthapa commented on #206
Sorry My Mistake. Forgot to add the publishable Stripe Key.

[2021-07-14 03:09] #206 closed

[2021-07-14 07:34] vishnuhifx commented on #194
The example is working.
I am using the package https://pub.dev/packages/jitsi_meet in my project which is used for video chat.
When I commented it, it's working.
I think there is some conflict in the packages. Is there any solution?

[2021-07-14 07:40] jonasbark commented on #194
Closing this as dupe of https://github.com/flutter-stripe/flutter_stripe/issues/197
It has class conflicts because Jitsi Meet seems to have their own react native wrappers for whatever reasons. We're looking into solutions.

[2021-07-14 07:40] #194 closed

[2021-07-14 09:32] MadhanAD opened #207 "type 'Null' is not a subtype of type 'Map<String, dynamic>' in type cast"
**Describe the bug**
From [this example](https://github.com/flutter-stripe/flutter_stripe/blob/main/example/lib/screens/webhook_payment_screen.dart) I was trying to integrate Stripe payment.

Getting null exception while calling `Stripe.instance.confirmPaymentMethod('clientSecret'
      PaymentMethodParams.card(
        billingDetails: billingDetails
      ))`

**Error log while calling confirmPay

[2021-07-14 09:36] jonasbark commented on #207
This looks very similar to https://github.com/flutter-stripe/flutter_stripe/issues/206
can you try the solution from that ticket?

Gonna assign this to @remonh87 - we should handle it in Dart

[2021-07-14 09:49] MadhanAD commented on #207
@jonasbark I have added a publishable key in my main.dart as shown in the example.
Still having the same issue.

[2021-07-14 09:50] jonasbark commented on #207
Please provide an example project / code so we can reproduce it

[2021-07-14 10:00] MadhanAD commented on #207
@jonasbark  Here is the [Sample Project](https://github.com/MadhanAD/flutter_base) to reproduce the issue

[2021-07-14 14:16] tudor07 opened #208 "confirmPaymentMethod not returning error"
1. Use `confirmPaymentMethod` with a card that will generate some error (example: `4000000000009995` for insufficient funds)

Expected result:
Error is returned with the right error code.

Actual result:
Exception is thrown:
[code]

The problem is here: `stripe_platform_interface-1.1.0/lib/src/method_channel_stripe.dart` at line 91.
The `result` variable contains no `paymentIntent`, but this libra

[2021-07-14 14:22] jamesblasco commented on #187
Mmm I am not sure if there is an option to add the merchant name to the Apple Pay sheet. See docs:

https://developer.apple.com/documentation/passkit/pkpaymentrequest

https://developer.apple.com/documentation/passkit/apple_pay/offering_apple_pay_in_your_app

I have done some research and this is what I found out. Apple requires you to add the merchant name inside your summary items.
The payment s

[2021-07-14 15:42] fabianie commented on #14
Hi @jonasbark, do you think there will be a solution to this within the next few days? I am about to publish an app with this bug, but I could wait a little longer.

thanks a lot
Fabian

[2021-07-14 15:46] jonasbark commented on #14
I doubt there is much we can do and we'll.have to create tickets for the Flutter team.
For now I recommend not having an additional text field on the same screen as the CardField.

[2021-07-14 15:48] ApofisXII commented on #14
@jonasbark in my implementation, there is not another filed in the Page.
I think that this issue needs to be reopen

[2021-07-14 15:50] artemtkachenko commented on #14
@jonasbark
actually, it does not work even if you have only one cardfield on the screen.

As soon as the user opens a keyboard from another text-field in the app (e.g. sign-in screen or anything else) the cardfield keyboard would no longer add symbols (digits) into the input field

[2021-07-14 15:59] jonasbark commented on #14
Feel free to already open a ticket on the Flutter framework and point to https://github.com/flutter/flutter/issues/81029 and state your issues

[2021-07-14 16:09] artemtkachenko commented on #14
@jonasbark
why can't we use native flutter text input instead of platform view?

I know it requires an extra effort but it will definitely work. As a stripe customer, I believe it will be better to handle it in a flutter way utilizing native flutter input widgets instead of having several platform views.

[2021-07-14 16:33] jonasbark commented on #14
We definitely agree. The main reason this plugin is using a platform view is related to [SCA](https://stripe.com/docs/strong-customer-authentication) - using the platform view is the easiest way to achieve it because sensitive details (such as card information) never leaves the platform.

[2021-07-14 17:30] jaiswalshubham84 commented on #205
I figured out, it was happening as somewhere my stripe keys changed from release to test.
Fixing it resolved my issue

[2021-07-14 17:30] #205 closed

[2021-07-14 19:27] ApofisXII commented on #14
@jonasbark can you please open an Issue on the main Flutter repo and please link it here?
(I'm not really an expert of GitHub and I also think other people will find it useful)

[2021-07-15 04:32] MadhanAD commented on #207
@jonasbark  do you have any updates for me?
Did you find any issue on this code?

[2021-07-15 05:34] remonh87 commented on #207
I am working on it at the moment expect to have it fixed this week.

[2021-07-15 12:07] werdlv commented on #187
Thanks @jamesblasco - I can confirm that the issue raised by the Apple Review team (`payee name is missing on Apple Pay payment sheet.`) was resolved by putting the name of the payee as the item summary.

[2021-07-15 12:07] #187 closed

[2021-07-15 12:23] pinkeshnearcast opened #210 "Undefined class 'PaymentSheetResult'."
I have cloned the example app and getting this error in payment_sheet_screen.dart
'Undefined class 'PaymentSheetResult'.'

[2021-07-15 12:39] jonasbark commented on #210
Did you run the Setup part as described in https://github.com/flutter-stripe/flutter_stripe#setup ? Including the 'Pub get' part?

[2021-07-15 14:44] jonasbark commented on #14
Issue created: https://github.com/flutter/flutter/issues/86480

[2021-07-15 15:02] #210 closed

[2021-07-15 15:29] remonh87 commented on #204
Please check  https://github.com/flutter-stripe/flutter_stripe#setup and follow the instructions

[2021-07-15 23:44] diegopq opened #211 "The cursorColor parameter of the CardField widget does not change the color"
**Describe the bug**
I have the CardField widget implemented in a payment form, I want to change the color of the cursor but when putting the required color it does not change, it happens to me both in an app without null safety and in one that has null safety active

**To Reproduce**
Steps to reproduce the behavior:
1. Indicate a color in the cursorColor parameter of the CardField widget

**Expec

[2021-07-16 08:33] #149 closed

[2021-07-16 13:32] tudor07 opened #213 "Confirm payment method is only possible when there is a CardField widget present"
I have a flow where user navigates to a new screen where `CardField` widget exists. User inputs card on this screen then goes back. Now `CardField` widget is no longer present but I have the card details in a `CardFieldInputDetails` variable.
I call `confirmPaymentMethod` with `PaymentMethodParams.card()` params.
I get the error:
[code]

I guess this is because the library searches for a `CardFiel

[2021-07-16 14:23] remonh87 commented on #213
@tudor07   implementing the suggested functionality would break PCI compliance for users of this library. Now we are using stripe Native components that are PCI compliant. For more info about what PCI compliance means see [link](https://stripe.com/en-gb-se/guides/pci-compliance).

I think we should fix the issues. As alternative you can use the paymentsheet which does not have these issues..

Can

[2021-07-17 18:32] vahurh commented on #36
Looking forward to this as well!

[2021-07-18 13:07] neilhosey opened #214 "PresentPaymentSheet followed by confirmPaymentSheetPayment not working"
Hi,
I'm trying to do the following:

      await Stripe.instance.presentPaymentSheet(
          parameters: PresentPaymentSheetParameters(
        clientSecret: _paymentIntent,
        confirmPayment: true,
      ));

      var result = await Stripe.instance.confirmPaymentSheetPayment();

but the confirmPaymentSheetPayment doesnt seem to return anything.  For example, if i hit X on the payment she

[2021-07-18 16:07] jonasbark commented on #214
Please tell us which plugin version you're using, Flutter version, device etc :)

[2021-07-19 07:22] robyhuzwandar opened #215 "PlatformException (PlatformException(Failed, Card details not complete, null, null))"
**Describe the bug**

ANDROID BUG

I got this error only when I run the app for the first time
PlatformException (PlatformException(Failed, Card details not complete, null, null))

but on the second try, it worked, even though I had filled out all the forms

**To Reproduce**
Steps to reproduce the behavior:

1. run the project for the first time
2. Entering all of the values into the card field.
2

[2021-07-19 11:29] imajercsik opened #216 "Error occurred while while parsing card arguments on Android"
On Android when I am entering the digits in the CardField widget, I am getting the following:

`[log] An error ocurred while while parsing card arguments, this should not happen, please consider creating an issue at https://github.com/flutter-stripe/flutter_stripe/issues/new`

Device: [e.g. OnePlus 6]
OS: [e.g. Oxygen OS 10.3.11]
Package version: [e.g. 1.1.0]
Flutter version [e.g. Channel stable,

[2021-07-19 13:48] neilhosey commented on #214
Apologies!! i created in a rush.

Device:
Android Emulator (Pixel 4 XL)

Version:
Flutter 2.0.6

Plugin Version:
latest 1.1.0

[2021-07-19 14:13] remonh87 commented on #214
This issue is fixed in the upcoming version which we will launch very soon.  Fixed with #209

[2021-07-19 14:13] #214 closed

[2021-07-19 14:14] remonh87 commented on #211
does the issue also happen on Android?

[2021-07-19 14:14] #208 closed

[2021-07-19 14:14] #207 closed

[2021-07-19 14:16] remonh87 commented on #173
We did implement the new result parsing compliant with stripe sdk so it should be fixed in the next version

[2021-07-19 14:16] #173 closed

[2021-07-19 16:24] neilhosey commented on #214
oh amazing, thanks!

[2021-07-20 18:04] harguilar commented on #166
I am also having the same issue I followed the above instructions but the issue prevails.  Below is my manifest file:
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.good_wallet">
   <application
        android:label="good_wallet"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="io.flutter.embedding.android.Flutt

[2021-07-21 00:16] dalton5 opened #219 "CardField screen error"
Hi,

I setup everything. The app is launching

But I have the error below:

I can't find any clues on what is wrong.

Can you help? I struggle since 2 hours on this.

D/EGL_emulation(26511): eglMakeCurrent: 0xe566a8a0: ver 2 0 (tinfo 0xda105ad0)
W/View    (26511): requestLayout() improperly called by android.widget.ImageView{a7e2c6a V.ED..... ......ID 0,0-84,55 #7f080146 app:id/icon} during layout

[2021-07-21 01:13] dalton5 commented on #219
Ok I fixed my issue by using present paymentsheet.

[2021-07-21 01:13] #219 closed

[2021-07-21 01:23] dalton5 opened #220 "Retrieve saved cards"
Hi,

I use the plugin with paymentsheet.

How can I show the screen to retrieve saved cards in stripe account?

And in the payment sheet is there a way to add a checkbox to save the card?

I did not find it.

Thanks,

[2021-07-21 06:24] jonasbark commented on #220
There's no way to achieve this with the plugin itself - you'll need a backend for that.
If you're using the payment sheet then this functionality is indeed built-in.

[2021-07-21 06:24] #220 closed

[2021-07-21 06:25] jonasbark commented on #216
Which digits did you enter? Please provide more information so we can reproduce this issue.

[2021-07-21 06:26] jonasbark commented on #215
Can you reproduce this with the example app? If so please show us how - otherwise please create a minimal reproducible example.
Thanks!

[2021-07-21 07:30] dalton5 commented on #220
payment sheet then this functionality is indeed built-in

That's a really good news.

So I use this code:

`                String intent = await StripeAppService.instance
                  .createTipPayment(stripePaymentInput);  // Call to my api

              final paymentMethod = await Stripe.instance.initPaymentSheet(
                  paymentSheetParameters: SetupPaymentSheetParameters(custo

[2021-07-21 12:09] imajercsik commented on #216
In fact, I just only show the screen with the CardField and this appears in the log:

[code]

[2021-07-21 20:15] dalton5 opened #224 "How to show saved cards in Payment sheet?"
Based on my old issue paymentsheet seems to include this functionality to show saved cards

That's a really good news.

So I use this code:

`                  String intent = await StripeAppService.instance
                  .createTipPayment(stripePaymentInput);  // Call to my API

                final paymentMethod = await Stripe.instance.initPaymentSheet(
                  paymentSheetParamet

[2021-07-22 02:55] diegopq commented on #211
it also happens

[2021-07-22 07:43] jeff-odopass commented on #224
Hello, for me it displays the saved cards before showing the screen in your post.
I did nothing particular to enable this, you should double-check that your backend correctly handle the card datas with Stripe.

Good luck !

[2021-07-22 09:04] dalton5 commented on #224
In the flutter code did you add other parameters than my code?

I am going to double check my api call.

Thanks,

[2021-07-22 09:14] jeff-odopass commented on #224
Yes, I just noticed you didn't included the `customerEphemeralKeySecret`, which may be the missing part in your `initPaymentSheet`

[2021-07-22 12:10] JFMSAlmeida opened #225 "iDeal Payments: Confirm Setup Intent returns "You must provide a `return_url` when confirming a SetupIntent with the payment method type ideal.""
I'm trying to configure iDeal Payments in my flutter application using your lib. The functionality that I want is the described in this [link](https://stripe.com/docs/payments/ideal/set-up-payment?platform=web). The code below is how I'm implementing it (I've previously made a request to my backend to create a Setup Intent and it returns successfully with the client secret).

[code]
The problem is

[2021-07-22 13:56] jonasbark commented on #225
The url_scheme parameter can be set as part of the `initialize` method (urlScheme).  Please check that and report back.

[2021-07-22 14:50] dalton5 commented on #224
Ok it's better because now I can see the option to save the card for next cards at the bottom with ephemeralkey setup. I create ephemeralkey at every payment intent. is it the good way?

But even when I save the card, I do not have the UI to choose the card.

Can you please share how you create the payment intent?

My code is in .net for the API call:

           `            var service = new Pay

[2021-07-22 16:40] JFMSAlmeida commented on #225
Yep, it worked, thanks. Issue solved.

[2021-07-22 16:40] #225 closed

[2021-07-22 17:52] awaik opened #226 "Apple pay asks billing address, is it possible to disable it?"
**Describe the bug**
Usually Apple pay doesn't ask billing address. But if I implement it with this plugin, is displays error that user must add billing address.

![photo_2021-07-22 21 00 45](https://user-images.githubusercontent.com/5330807/126687703-ead5ca7d-c5d5-4209-805a-91be7bd9ca53.jpeg)

[2021-07-23 06:19] Satishpethani92 opened #227 "Add Custom input fileld."
**Is your feature request related to a problem? (please describe)**
I have to add a custom design for the card input field.

**Describe the solution you'd like**
User can add own UI design in the card input. for now, we can add only test style and color but not change layout position in the card view so please add some constructor for user can input value directly using the constructer.

**Describ

[2021-07-23 07:57] jamesblasco commented on #224
You can check the example server version that integrates this here:

https://github.com/flutter-stripe/flutter_stripe/blob/ae51739acb9704c5e51da853458942a895924f22/example/server/src/index.ts#L491

[2021-07-23 08:43] dalton5 commented on #224
Thanks I did everything.

And I still get the same issue. I went to ask support to stripe. They explained to me that it must be a payment method and not a card which is the old API.

I setup everything but we can't get it to work.

Can you please confirm to me that for you it works? This feature is enabled in the flutter version please?

[2021-07-23 08:43] niklaesAtMonta commented on #164
@jonasbark Any news regarding this issue?

We are facing the same issue, and the paymentResult coming from Apple contains this (I have deleted some of the contents for privacy reasons):

[code]

[2021-07-23 08:46] jonasbark commented on #164
@jamesblasco mind having a look at this?

[2021-07-23 09:02] remonh87 commented on #224
I think your code looks good from Flutter side and I use something similar in my app. It looks like something is incorrect in the backend. Can you try to run your app code and talk to our example server (see readme on how to run it)?

[2021-07-23 09:06] remonh87 commented on #216
I think this is a bit pollution in the log but you can still enter a card number and it should parse again. Can you provide an example  like Jonas asked so we can test it on our side?

[2021-07-23 09:18] joknjokn commented on #164
@jamesblasco, if you know of a temporary workaround, please let us know.

[2021-07-23 09:25] hyphense opened #228 "Apple Pay with requiredShippingAddressFields [postalAddress] is broken"
When requiredShippingAddressFields contains "postalAddress", the Apple Pay sheet is shown but times out.

[code]

This code works until i un-comment postalAddress.

[2021-07-23 10:24] dalton5 commented on #224
Ok I am gonna try. I use the stripe api in .net. Maybe there is an issue. Thanks,

[2021-07-23 10:36] jeff-odopass commented on #224
Hi there, you may have forgotten to save the paymentMethod using the correct Stripe webhook. It is done after a successfull payment is made.
It is not in the flutter plugin docs so you should check the official Stripe docs related to tour backend stack.

Hope it helps

[2021-07-23 11:25] dalton5 commented on #224
Ok it works with the example.

![image](https://user-images.githubusercontent.com/8339768/126775273-bb907a3e-b8a3-4d0c-97ff-73a8b184c3c8.png)

So it should come from my API call. I investigate more

[2021-07-23 11:54] dalton5 commented on #224
Ok I found the issue. I sent id of the ephemeral key instead of the ephemeral secret.

It works great now! Thanks a lot! I close the case.

[2021-07-23 11:54] #224 closed

[2021-07-23 18:05] #213 closed

[2021-07-24 14:45] dalton5 opened #229 "Payment sheet: Get result if payment failed or successed"
Hi,

Is there a way to get a result if the payment from the paymentsheet has been a success or has failed?

I just see presentpaymentsheet return future<void>, but if I have the option confirmpayment I would like to know if the payment successed or not to go to the next steps.

How can I achieve this?

Thanks,

[2021-07-24 17:56] remonh87 commented on #229
We integrated the new result object from the stripe sdk and this will be part of the new version that we will launch this weekend.

[2021-07-24 17:56] #229 closed

[2021-07-24 18:04] dalton5 commented on #229
Wow amazing! Thanks a lot!

[2021-07-24 19:01] jaiswalshubham84 opened #230 "Apple not working in production mode."
My apple pay integration is working fine in development mode but is not working in production mode i.e when upload the app to AppStore and use live publishableKey.

It closes and open payment again and again.

Also when i use ApplePaymentSheet it throws platform exception.

Am I missing anything because of which i am getting this error.
please let me know any solution to this

https://user-images.

[2021-07-24 19:12] harguilar commented on #166
Hi there, I do not know if someone managed to overcome this issue as my one still prevails. Am wondering if anyone is looking at it or has any idea why this is happening. I followed the tips that were given and am still stuck with the issue. Am losing hope and start to consider a new direction.

[2021-07-25 11:30] remonh87 commented on #166
@harguilar  and @robyhuzwandar  I checked the manifest and you need to use the FlutterFragmentActivity instead of the FlutterActivity. If you changed this it should work. Else check also our example [app](https://github.com/flutter-stripe/flutter_stripe/blob/main/example/android/app/src/main/kotlin/com/flutter/stripe/example/MainActivity.kt):

[2021-07-25 15:11] remonh87 commented on #230
We would need a bit more information:

- Can you provide us some example code that we can use to reproduce it?
- Did you set `testEnv ` to false?
- Is there any feedback in the logs?

[2021-07-25 20:04] jaiswalshubham84 commented on #230
Here is my flutter code

[code]

Here is my node js code from where i am creating clientSecret
[code]

[2021-07-25 20:05] jaiswalshubham84 commented on #230
I did complete certificate upload step from this link.
https://support.stripe.com/questions/enable-apple-pay-on-your-stripe-account

[2021-07-26 09:30] emme1009 commented on #229
@remonh87 when will the release be live ?

[2021-07-26 09:38] harguilar commented on #166
@remonh87
Man thanks a lot I tested and my issue is sorted. Well appreciated.

[2021-07-26 09:41] #166 closed

[2021-07-26 11:19] coodysk8er opened #234 "Any Ali pay or Wechat pay example?"
Can someone help add an example of how to have wechat pay or ali pay?  Or give some general hints so I can help add this example or implement it.  Thanks

[2021-07-26 18:10] remonh87 commented on #96
I think we catered enough for this now. Also checkout: https://flutterstripe.medium.com/announcing-the-flutter-sdk-for-stripe-1ba2b3ee667c

[2021-07-26 18:10] #96 closed

[2021-07-26 18:11] remonh87 commented on #40
In version 1.2.0 we added facilities for custom design. Be aware of the big implications of this by reading the docs properly.

[2021-07-26 18:11] #40 closed

[2021-07-26 18:59] santiagomboc opened #236 "presentApplePay sometimes throws with "Canceled by user" without even presenting ApplePay"
**Describe the bug**
Sometimes, when attempting to presentApplePay, method will return with a "Canceled by user" message before even presenting ApplePay.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to presentApplePay with the following code:
[code]
2. After several attempts, Canceled by user will be thrown before presenting ApplePay.

**Expected behavior**
ApplePay to be shown to

[2021-07-27 07:22] kwstasarva opened #237 "The code in the example does not build"
**Describe the bug**
The code in the example/lib/screens folder does not build

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
2. Follow the instructions to run the example

**Expected behavior**
The example app should run properly

**Smartphone / tablet**
 - Package version: [commit: 9804530]
 - Flutter version [2.0.3]

**Additional context**
The code in the example/lib/scree

[2021-07-27 07:27] remonh87 commented on #237
Make sure you follow the steps described in:

https://github.com/flutter-stripe/flutter_stripe#contributing . You need to run `melos bootstrap`

[2021-07-27 07:45] kwstasarva commented on #237
I need to run that in case I want to contribute. I just need to run the example app. And the instructions to do so are described under the "Run the example app" as referenced in the docs. I will try  to run `melos bootstrap` as well now.

[2021-07-27 07:50] remonh87 commented on #237
yeah sorry our bad we still need to merge one pr that fixes the right dependencies

[2021-07-27 07:53] kwstasarva commented on #237
No problem. I followed your instructions and everything seems to work smoothly now. Thank you @remonh87 :)

[2021-07-27 07:53] #237 closed

[2021-07-27 08:36] xlcod commented on #166
Also happening here, if i write  android:name=".MainActivity"  app doesn´t launch.

[2021-07-27 08:50] xlcod opened #238 "PlatformException(flutter_stripe initialization failed, The plugin failed to initialize. Are you using FlutterFragmentActivity?"
**Describe the bug**
PlatformException(flutter_stripe initialization failed, The plugin failed to initialize. Are you using FlutterFragmentActivity?

**To Reproduce**
i followed the guide, the following changes were made as stated in requirements, i also checked for  other
 issues like mine, the solutions provided doesn´t work for me .

1-Gradle wrapper  :  distributionUrl=https\://services.gradle

[2021-07-27 08:53] jonasbark commented on #238
Dupe of https://github.com/flutter-stripe/flutter_stripe/issues/166
Double-check the java package ("com.com.com") looks weird.

[2021-07-27 08:53] #238 closed

[2021-07-27 08:54] xlcod commented on #238
@jonasbark i write that to not show my package name........

[2021-07-27 08:55] jonasbark commented on #227
You can provide your own implementation of the credit card field with 1.2.0 - otherwise there's not many options as it's limited by what the native platform view provides

[2021-07-27 08:55] #227 closed

[2021-07-27 08:56] xlcod commented on #238
@jonasbark  Please do not close issue immediately after giving useless help to your own plugin

[2021-07-27 08:59] xlcod commented on #238
@jonasbark i know its duplicated , as i already said , the solutions provided in that issue doesn´t solve anything in my case.

[2021-07-27 08:59] jonasbark commented on #238
It's a duplicate, so I'm closing it. Thanks for calling it useless - as open-source maintainers spending our own time on it we're always happy to help you ;)

[2021-07-27 09:02] xlcod commented on #238
at least you can give more useful help to people that use your plugin , i know its an open source plugin and i appreciate your work(really) but that doesn´t hide that the fact that closing an issue doesn´t solve anything.

[2021-07-27 09:14] jonasbark commented on #238
Neither does opening a new ticket for something that is neither a bug nor a feature request - rather continue on the original one.

[2021-07-27 09:43] xlcod commented on #238
i already comented on that issue aswell.

[2021-07-27 09:54] remonh87 commented on #166
@xlcod  you need to create a class called MainActivity . Please checkout our example app: [link](https://github.com/flutter-stripe/flutter_stripe/blob/main/example/android/app/src/main/kotlin/com/flutter/stripe/example/MainActivity.kt)

[2021-07-27 09:56] xlcod commented on #166
@remonh87 Thanks for your help, sadly its already created. My issue here [https://github.com/flutter-stripe/flutter_stripe/issues/238#issue-953654299](url)

[2021-07-27 10:03] remonh87 commented on #238
Your manifest application name is `  android:name=".MainActivity"`  . this is not allowed.  Check also the android logs since this will provide you some useful  info. I agree with @jonasbark  that this is not related to the plugin. I really would check our example app https://github.com/flutter-stripe/flutter_stripe/blob/main/example/android/app/src/main/AndroidManifest.xml .

[2021-07-27 10:10] xlcod commented on #238
@remonh87 in the example it shows  android:name=".MainActivity" as i have in mine , it needs to be different or i´m understanding it wrongly?

[code]

[2021-07-27 15:18] DevTiago opened #240 "flutter_stripe initialization failed, The plugin failed to initialize"
Greetings to all,

I know that's the 4th issue with this subject but none of the others solved my problem. I'll try to describe the most of my settings:

**main.dart**
- i've initialised the stripe.publishableKey on main.dart

**app\build.gradle**
[code]

**android\build.gradle**

[code]
**android\app\src\main\AndroidManifest**

[code]

**android\app\src\main\kotlin\com\myApp\MainActivity**

[code

[2021-07-27 15:24] jonasbark commented on #240
Hi! Please do not open duplicates but continue the discussion at https://github.com/flutter-stripe/flutter_stripe/issues/166 instead.
In there please provide log output etc or even a project where we can reproduce or properly investigate this.

[2021-07-27 15:24] #240 closed

[2021-07-27 15:29] DevTiago commented on #166
None of the above solutions works for me. Theres my settings:

**main.dart**
i've initialised the stripe.publishableKey on main.dart

**app\build.gradle**

[code]

**android\build.gradle**

[code]

**android\app\src\main\AndroidManifest**

[code]

**android\app\src\main\kotlin\com\myApp\MainActivity**

[code]

Theres my Output:

[code]

[2021-07-27 15:32] jonasbark commented on #166
Does it work when you put in
[code]
?
Of not we will need a GitHub project where this behavior is reproducible.

[2021-07-27 15:36] jaiswalshubham84 commented on #230
I got the reason why it was failing.
Everything was alright. The only thing I was doing wrong was that I didn’t enable the Apple pay merchant ID in Xcode.
Enabling it making the apple pay worked.
<img width="704" alt="Screenshot 2021-07-27 at 8 54 34 PM" src="https://user-images.githubusercontent.com/32263293/127183524-c5fa0bb7-3fc1-4552-98dd-c62a837e3a69.png">

[2021-07-27 15:38] #230 closed

[2021-07-27 16:05] DevTiago commented on #166
I guess so... now i have another error but i think its not related with the package.

Thanks!

[2021-07-28 02:01] coodysk8er commented on #234
can someone kindly provide some general advice?  Thanks

[2021-07-28 04:47] remonh87 commented on #234
Stripe has many different payment methods for which we do not have a full example. I would advice reading the official Stripe docs: https://stripe.com/docs/payments/alipay .

[2021-07-28 06:51] emme1009 opened #241 "Google Pay with PaymentSheet in Production"
**Describe the bug**
I use the paymentSheet with integrated Google Pay feature.
But when used with live stripe key, I get the error `Unexpected Developer Error, please try again later`.  and after that the paymentSheet says `Internal Error occured`.

BTW Im using the stripe connect platform to pay directly to a connected account. (Its working perfectly fine in testmode)
AND I already got approved

[2021-07-28 06:54] xlcod commented on #166
I tried writting that, it doesn´t show any errors but also it doesn´t show any google pay button in my case.

[2021-07-28 06:56] jonasbark commented on #166
that would be another configuration issue, unrelated to this topic. Be sure to check out official stripe documentation around Google Pay + Payment Sheet which you're using I guess.

[2021-07-28 09:56] omaralmgerbie commented on #229
its not implemented in `v1.2.0`?, and is it implemented in master or not?

[2021-07-28 10:04] kwstasarva opened #242 "CardField data not updating"
**Describe the bug**
I am trying to edit the card details through the CardField widget but no matter what I type, the card field does not update.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo and run the example
2. Enter any number in a selected card field

**Expected behavior**
The card field should update and the onCardChanged method should get triggered.

**Smartphone**

[2021-07-28 11:21] coodysk8er commented on #234
@remonh87  Thank you for your advice.

I did read the official documentation before trying, but the confusing part is flutter_stripe doesn't expose the method `confirmPayment` on the client-side as official doc.

So I tried the following codes but still got an error of "Result should not be null"
Can you help point out where I was wrong ? Thank you again.

flutter code:
`

      //request server t

[2021-07-28 13:08] niklaesAtMonta opened #243 "Plugin version 1.1.0, with stripe_platform_interface 1.2.0 causing errors"
**Describe the bug**
It seems like the StripePlatform used in flutter_stripe is updating automatically to a newer version.
Which seems to trigger an error.
I am runnning flutter_stripe 1.1.0, but the package is gathering stripe_platform_interface 1.2.0 which is suddenly causing problems.

It seems related to the newest flutter_stripe update (1.2.0), with breaking changes:
"Rename confirmPaymentMet

[2021-07-28 13:29] niklaesAtMonta commented on #236
Have you tried updating to 1.2.0? :)

[2021-07-28 13:49] zmGitHub commented on #234
＋１

[2021-07-28 14:34] remonh87 commented on #243
that should not happen IMO since we lock the versions in the flutter_stripe package. I will investigate it.

[2021-07-28 14:42] remonh87 commented on #229
It is part of version 1.2.0  In case the user cancels the paymentsheet or an error will come from Stripe we will throw an `StripeException` containing localised context regarding the unforseen event. You can deviate between `error` and `cancelled` by using the `code` field. This is in line with the Stripe SDK

[2021-07-28 15:56] emmaxCreative opened #245 "PaymentSheet not opening on Tablet in Landscape mode"
**Describe the bug**
When I use a tablet in landscape and want to open the payment screen then the screen automatically rotates to open the paymentSheet. Which fails and shows an infinite loading spinner.

Checkout Page (setting up the paymentSheet)
![image](https://user-images.githubusercontent.com/58904080/127354983-1248dbc9-99a2-42ac-88bb-4f5b0ad11525.png)

Next Step automatically rotates the s

[2021-07-28 17:57] remonh87 commented on #243
you are right we made a mistake with versioning.  You adding the following to your pubspec.yaml :

[code]

[2021-07-28 17:57] #243 closed

[2021-07-28 18:01] remonh87 commented on #241
If I understand the [Stripe docs](https://stripe.com/docs/google-pay) correctly you also need to add:
[code]

to the manifest.

[2021-07-28 18:04] #79 closed

[2021-07-28 18:08] remonh87 commented on #234
I will look into it in the weekend when I have a bit more time.  btw we have a method called `confirmPayment` (before version 1.2.0 known as `confirmPaymentMethod` => Stripe renamed it in their sdk recently)

[2021-07-28 18:29] emmaxCreative commented on #241
Thank you that helped. Now it works perfectly fine.

[2021-07-28 18:38] remonh87 commented on #245
Thanks for reporting I can reproduce it (it happens also on phone on landscape).  Funny thing is that I do not see any logs that result in a crash of some sort.

I think https://github.com/stripe/stripe-android/issues/3878 may be related to it.  @jonasbark  You have a bit more knowledge about Android bindings, can you shine your light on this one?

[2021-07-28 18:41] jonasbark commented on #245
Stripe Android SDK itself must force it to portrait only. When we find the time we will open a ticket at their repository for investigation.

[2021-07-28 18:41] #241 closed

[2021-07-28 18:42] coodysk8er commented on #234
Thank you, @remonh87

my bad, didn't upgrade to 1.2.0 and it worked with `confirmPayment` instead. I can help add example code or just refer to the following snippet.

btw, can we add wechatPay in PaymentMethodParams, should be minimal work as we already had the general  confirmPayment? (Stripe doc : https://stripe.com/docs/payments/wechat-pay/accept-a-payment)

**Make sure 1.2.0 or above**

flutt

[2021-07-28 19:20] huzaif23 opened #246 "Cardfield forcefully taking focus from other text fields"
**Describe the bug**
Cardfield forcefully taking focus from other text fields therefore I cannot insert text to other textfields.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Cardfield widget to the screen.
2. Cardfield won't allow other text fields to gain focus

**Expected behavior**
Cardfield should not be forcefully taking focus over other textfields

**Smartphone / tablet**
 - De

[2021-07-29 06:04] jonasbark commented on #226
@jamesblasco can you please have a look?

[2021-07-29 06:05] jonasbark commented on #242
@jamesblasco can you please have a look?

[2021-07-29 06:06] jonasbark commented on #246
There is an existing issue:
https://github.com/flutter-stripe/flutter_stripe/issues/14

The underlying cause is tracked in https://github.com/flutter/flutter/issues/86480
For now, we recommend using a custom Flutter native Card Field for Android users.

[2021-07-29 06:06] #246 closed

[2021-07-29 06:40] awaik commented on #226
Also in old plugin was separate property for this.

https://github.com/jonasbark/flutter_stripe_payment/blob/7948a80a07cf9d01e795b1f3bb33fd21ed7093f0/lib/src/apple_pay_payment_request.dart#L10

``` List<RequiredBillingAddressFields>? requiredBillingAddressFields;```

[2021-07-29 06:58] harguilar commented on #166
hey @remonh87 thanks a lot my issue is fixed

[2021-07-29 08:12] kwstasarva commented on #242
I've discovered that this happens only when "Connect hardware keyboard" is enabled. So basically if you disable that, you can type normally in the field by using the on screen keyboard. command+shift+k is the command to enable/disable the hardware keyboard while focusing the simulator window. Hope this helps

[2021-07-29 09:33] juleshyacinthe opened #247 "App crashes after going back from 3DS challenge"
**Describe the bug**
I'm using `confirmSetupIntent` to save my customers' credit card details. I guess it's worth noticing that I'm using the `dangerouslyUpdateCardDetails` method as the card input is broken in my Android builds.
It opens the 3DS challenge, and after I complete it, if I go back using the app drawer, my app crashes. Going back using the back button of my phone has the expected beha

[2021-07-29 09:55] GyuriMajercsik commented on #216
hi everyone, I created a sample example with the above issue.
I adjusted the `WebhookPaymentScreen` implementation to have the problematic scenario in place.

You can find it here: https://github.com/GyuriMajercsik/flutter_stripe/tree/216

There are two issues, from my point of view:

1. Somehow the `rethrow` is not working. Basically, potential errors are swallowed and not visible to the develope

[2021-07-29 10:08] romme86 opened #248 "PaymentMethod from Apple Pay"
With Apple Pay is not possible to create a PaymentMethod on the client. While I was able to create a paymentMethod and use it on the server side at a later time with the previous plugin, with this update I am no longer able to do that.

The only thing I am able to get from Apple Pay is a clientSecret.

Is this intended or am I missing something?

[2021-07-29 14:06] ravindrababuvidya opened #251 "Support: confirmPaymentIntent with invalid clientSecret key"
Hi Team ,
 I am passing correct details with secret key using confirmPaymentIntent method but it's not working and it's telling invalid secret key where i am doing wrong let me know please if any thing i did mistake Thanks  for Advance.

I/flutter ( 1810): Token Value tok_1JIZinAKGUvzJoV9jqaEXLRG
I/flutter ( 1810): pmethod  pm_1JIZioAKGUvzJoV9mz515uU7
W/.payment_strip( 1810): Accessing hidden meth

[2021-07-29 14:27] niklaesAtMonta commented on #246
@jonasbark i do not believe it is the same issue as #14, because the issue has appeared on version 1.2.0, and was not an issue on version 1.1.0?

[2021-07-29 14:32] Spyingaround commented on #246
@jonasbark I'm working on a project with a TextFormField and a CardField from flutter_stripe 1.2.0.
I'm experiencing this issue on Android only as well.

It was working fine on flutter_stripe 1.1.0.

[2021-07-29 15:29] jamesblasco commented on #242
@kwstasarva indeed this only happens in the simulator when using the macOS keyboard instead of the one from the iOS simulator.

I wonder if this problem happens also with an iPad Pro with an attached keyboard. If anyone has one and could try it would be awesome 🙂

I will close the issue here as it looks like it is a problem with Flutter and native text input fields. I Will try to make an example c

[2021-07-29 15:29] #242 closed

[2021-07-29 15:35] jamesblasco commented on #251
The stripe native SDK is throwing this error due to an invalid client secret. A client secret is not the secret API key sk_test_...

The client secret is a specific key for each customer you might have purchasing with stripe. Please see the official guide on how to create an setup intent in your server

https://stripe.com/docs/payments/save-and-reuse#ios-create-setup-intent

[2021-07-29 15:44] jamesblasco commented on #248
In the official native SDK Apple pay is not considered a payment method that can be handled that way.

https://github.com/stripe/stripe-ios/blob/68c36e67ec510ea0dd99510fce375249b0918183/Stripe/STPPaymentMethodEnums.swift

Consider checking the Apple example where we saw how to process payments with Apple Pay.

https://github.com/flutter-stripe/flutter_stripe/blob/main/example/lib/screens/apple_pay

[2021-07-29 15:59] jamesblasco commented on #226
The current implementations is very similar and billing address is not required
https://github.com/flutter-stripe/flutter_stripe/blob/df2f9c13aa7c93e32a633838489970a6d44364aa/packages/stripe_platform_interface/lib/src/models/apple_pay.dart#L83-L89

I have just tried the Apple Pay example in the simulator and I can confirm there is no need for billing address and it does not ask for that.

It looks

[2021-07-29 16:10] jamesblasco commented on #228
This looks like a problem with the native Stripe sdk, I will try to find the root of the problem.

Looks like requiredShippingAddressFields has been deprecated
https://developer.apple.com/documentation/passkit/pkpaymentrequest/1619228-requiredshippingaddressfields

[2021-07-29 17:18] romme86 commented on #248
Ok, trying to do that results in
  `flutter: Error: PlatformException(Failed, Payment not completed, null, null)'
Do you have a clue on why could this be?

But doing like you said it is not possible to do a payment later in time.
For example if my customer asks for a service and has to wait my approval, which could come hours later or the day after, the payment is lost...

[2021-07-29 17:59] hyphense commented on #228
Thanks for looking into it.

I have tried this on device (14.6. on 11 pro max).

Also tried using pay.ApplePayButton from the pay package. I can select an address (payment and shipping) in the apple pay sheet with this one, but no address-data in the paymentResult.

Using this payment profile:

[code]

[2021-07-30 07:16] jonasbark commented on #247
Do you have test credit card details where this is reproducible?

[2021-07-30 08:37] romme86 commented on #248
I have an update, using xcode i get a more interesting log:
[code]

i think that this may be an issue,
`"apple_merchant_identifier": "unknown"`

but i set up the merchant identifier as in the examples and also in xcode as per Stripe official integration guide. (apple pay was working with the old plugin)

[2021-07-30 09:00] juleshyacinthe commented on #247
Here is a video capture of the issue (made on Pixel 3a API 30 simulator):
![3DS2 crash](https://user-images.githubusercontent.com/10943906/127628517-05e71379-247c-4edd-9759-148d2da00923.gif)

As soon as I tap the phone's button to show currently opened apps, I get the logs I posted in my first message and although the 3DS challenge doesn't fail or freeze or anything, when it tries to go back to th

[2021-07-30 09:55] romme86 commented on #248
@jamesblasco @jonasbark I solved the issue.
Thanks to the stripe support we realised that using the Connect platform the connected_customer_id has to be associated to the flutter_stripe configuration when confirming payments on the device.

so the trick is to set:
`Stripe.stripeAccountId = {CONNECTED_ACCOUNT_ID}`

is there the possibility to add this and similar cases to the library documentation?

[2021-07-30 10:52] pawelpetruch opened #254 "Connected accounts"
A quick question - does this package support connected accounts?

[2021-07-30 11:50] huzaif23 commented on #246
@niklaesAtMonta  yes it was working fine before the update, but I think it's related to the issue: flutter/flutter#86480 created by @jonasbark.

@Spyingaround currently the only workaround is to use a custom form using flutter text field widget but I think it may break PCI compliance.

[2021-07-30 19:04] jgrody commented on #185
This is happening to me as well.

[code]

This is the output `BillingDetails` object:

[code]

All the `Address` values are null

[2021-07-30 22:25] mzincube161 opened #255 "Text Input focus error"
**Describe the bug**
If the Card Element is on the same screen as another Text Input. The other text input cannot be edited as the card element automatically grabs the focus hence not allowing other text inputs to be used.

**To Reproduce**
Steps to reproduce the behaviour:
Add the card element and then a text input on the same screen and try to edit the second text input after adding a card numbe

[2021-07-31 07:34] jamesblasco commented on #255
Could you share the code part where you use the CardField?

Do you have autofocus:true?

[2021-07-31 10:16] mzincube161 commented on #255
Auto focus is turned to false. Below is the CardField Code:

`CardField(
          onCardChanged: (CardFieldInputDetails details) {
            cardDetails = details;
          },
          autofocus: false,
          enablePostalCode: false,
          numberHintText: 'Card number',
          expirationHintText: 'Exp',
          cvcHintText: 'Cvc/cvv',
          postalCodeHintText: 'Postcode',

[2021-07-31 14:47] jacklondon90 opened #256 "Confirm not capture payment"
Hi everyone, with the PaymentSheetScreen I want to confirm the payment and later capture it how can I achieve this? Using this method
`  await Stripe.instance.initPaymentSheet(
          paymentSheetParameters: SetupPaymentSheetParameters(
              paymentIntentClientSecret: stripe[0]['client_secret'],
              applePay: false,
              googlePay: false,
              style: ThemeMo

[2021-08-01 06:06] #42 closed

[2021-08-01 06:17] remonh87 commented on #234
@coodysk8er  thanks for the example. WeChat is not yet supported in the React Native Stripe sdk. When it is integrated there we will pick it up. https://github.com/stripe/stripe-react-native/issues/52

[2021-08-01 11:20] remonh87 commented on #256
can you explain what you want to capture? The paymentsheet provides a result (success or failed) what do you miss?

[2021-08-01 16:49] bizready commented on #197
flutter_stripe: 1.2.0
jitsi_meet: ^4.0.0

As soon as I add jitsi_meet: ^4.0.0, I get the following errors:

E/AndroidRuntime(23591): java.lang.NoSuchMethodError: No direct method <init>(Landroid/content/Context;Lio/flutter/plugin/common/MethodChannel;)V in class Lcom/facebook/react/uimanager/ThemedReactContext; or its super classes (declaration of 'com.facebook.react.uimanager.ThemedReactContext'

[2021-08-01 20:34] jonasbark commented on #254
Yes

[2021-08-01 20:34] #254 closed

[2021-08-01 20:35] jonasbark commented on #248
Thanks for sharing what fixed it for you

[2021-08-01 20:35] #248 closed

[2021-08-01 21:01] jefrisingh commented on #36
Hi what will be the expected date for web support?

[2021-08-01 21:29] bizready commented on #148
I have the same issue. Looks like the issue is closed. @abumoallim - is your problem resolved ? It would be great if you can share how it was resolved.

[2021-08-02 06:11] jacklondon90 commented on #256
I want to authorize the card and later charge it, and by the way is there are an option to save card?

[2021-08-02 12:13] joeloudjinz opened #259 "Google Pay button is not displayed on the payment sheet"
**Describe the bug**
Google pay button wasn't displayed on the paymentSheet despite setting the flage `googlePay: true` in `SetupPaymentSheetParameters` while initializing the payment sheet using `Stripe.instance.initPaymentSheet()`

**Expected behavior**
The button to be displayed

**Smartphone**
 - Device: Xiaomi Redmi 9
 - OS: Android 10, MIUI 12.0.1.0
 - Package version: ^1.2.0
 - Flutter vers

[2021-08-02 16:24] Lucke0051 opened #260 "No localization support?"
This package does not seem to support localization, even though [stripe-ios](https://github.com/stripe/stripe-ios#features) supports various languages. Is there any plans for localization support or did I just not configure it correctly?

[2021-08-02 16:32] #260 closed

[2021-08-02 16:32] Lucke0051 commented on #260
Apparently just changing the project language in Xcode seemed to work.